##
#     NOT ignoring .exe and .dll as we're including libs and package files: 
##    Which means YOU MAY NEED TO ALTER YOUR GLOBAL GITCONFIG
##

#All delphi compiled units in the DCU dir
dcu/

#All Delphi library files - we include libinstalls for you to install your own lib dir as some are install sources
lib/

#Delphi ignore files - see https://github.com/github/gitignore/blob/master/Delphi.gitignore
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

#Borland Delphi 2006 History files
src/_history/
*.~*

#QuickPlay puts its binary and resources in the qps directory when run up. But we want to publish QP versions without these files in. Quick solution: commit then replace working dir with commit
qp/QP.exe
qp/QP384.exe
qp/data
qp/data_PREV
qp/data_REAL
qp/dats
qp/search
qp/temp

#None of these files in the src folder please
src/*.exe
src/*.dll
src/*.bpl
src/*.bpi
src/*.dcp
src/*.so
src/*.apk
src/*.drc
src/*.map
src/*.dres
src/*.rsm
src/*.tds
src/*.dcu

#mametool logging
mametool_logfile.txt

#Mess inis - the user needs to select their own mame executable and do a mame scan, we can't know in advance what that might be
qp/EFind/Mess_Mame.ini
qp/EFind/Mess_Retroarch.ini

#Personal Efind inis - not for sharing as the user must setup their own or they will get confused
qp/EFind/Custom.ini
qp/EFind/Gamebase.ini

#Starting editing from a mac
.DS_Store
._.DS_Store

#nodejs specific
node_modules/
QPNode.exe_test
