##
#     NOT ignoring .exe and .dll as we're including libs and package files: 
##    Which means YOU MAY NEED TO ALTER YOUR GLOBAL GITCONFIG
##



#All delphi compiled units in the DCU dir
dcu/

#All Delphi library files - we include libinstalls for you to install your own lib dir as some are install sources
lib/

#Delphi ignore files - see https://github.com/github/gitignore/blob/master/Delphi.gitignore
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

#Borland Delphi 2006 History files
src/_history/
*.~*

#Be aware that tools in qpFiles/tools are standalone and if run up may start making their own ini files. We want to prevent this:
qp/tools/Format History to Tab/FH2T.ini
qp/tools/QUICKPLAY Multiloader/ForciblyWinmount.exe
qp/tools/Romdata Magician/RomData Magician.ini


#QuickPlay puts its binary and resources in the qps directory when run up. But we want to publish QP versions without these files in. Quick solution: commit then replace working dir with commit
qp/QP.exe
qp/data
qp/dats
qp/search
qp/temp

#None of these files in the src folder please
src/*.exe
src/*.dll
src/*.bpl
src/*.bpi
src/*.dcp
src/*.so
src/*.apk
src/*.drc
src/*.map
src/*.dres
src/*.rsm
src/*.tds
src/*.dcu

#Personal Efind inis - not for sharing as the user must setup their own or they will get confused
qp/EFind/Custom.ini
qp/EFind/Gamebase.ini
qp/EFind/MultiLoader.ini




