#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE LANGUAGE 0x05, 1 // 0405
{
  DT_Language,        "CZ: Czech"
        GE_NoZipSpecified, "Chyba - ZIP soubor nebyl specifikován!"
        GE_FatalZip,       "Fatální chyba v DelZip179.DLL: pøerušení výjimkou"
        GE_NoMem,          "Nedostatek pamìti"
        GE_WrongPassword,  "Chyba - chybné heslo\nHeslo ignorováno"
        GE_CopyFile,       "Kopíruji: "

        RN_ZipSFXData,     "Chyba pøi kopírování SFX hlavièky"
        RN_NoRenOnSpan,    "Pøejmenování nelze použít u vícesvazkového archivu"
        RN_ProcessFile,    "Pracuji: "
        RN_RenameTo,		   " pøejmenován na: "

        PW_UnatAddPWMiss   "Chyba - nezadáno heslo pro pøidání"
        PW_UnatExtPWMiss   "Chyba - nezadáno heslo pro vybalení"

        LI_ReadZipError,   "Nalezena chyba pøi ètení ZIP archivu!"
        LI_ErrorUnknown,   "Neznámá chyba funkce List()"
        LI_WrongZipStruct, "Varování - chyba ve struktuøe ZIP souboru!"
        LI_GarbageAtEOF,   "Varování - smetí na konci ZIP souboru!"

        AD_NothingToZip,   "Chyba - žádné soubory k archivaci!"
        AD_UnattPassword,  "Nekomentovaná akce není možná bez hesla"
        AD_NoFreshenUpdate,"Aktualizaci nebo doplnìní nelze provést u vícesvazkového archivu"

        DL_NothingToDel,   "Chyba - nejsou vybrány soubory pro mazání"

        EX_FatalUnZip,     "Fatální chyba v DelZip179.DLL: pøerušení výjimkou"
        EX_UnAttPassword,  "Varování - Nekomentované vybalení: možná nebudou vybaleny všechny soubory"

        LD_DllLoaded,   "%s byl nahrán"
 //       LZ_NoZipDllExec,   "ZipDllExec funkce nenalezena v ZIPDLL.DLL!"
 //       LZ_NoZipDllVers,   "GetZipDllVersion funkce nenalezena v ZIPDLL.DLL!"
        LD_NoDll,       "%s nenalezen!"

//        LU_UnzDllLoaded,   "UNZDLL byl nahrán!"
//        LU_NoUnzDllExec,   "UnzDllExec funkce nenalezena v UNZDLL.DLL!"
//        LU_NoUnzDllVers,   "GetUnzDllVersion funkce nenalezena v UNZDLL.DLL!"
//        LU_NoUnzDll,       "UNZDLL.DLL nenalezen!"

        SF_StringTooLong,   "Chyba - Celková velikost 3 textových vlastností pøekroèila 245!"
        SF_NoZipSFXBin,    "Chyba - %s nenalezen!"
        SF_InputIsNoZip,   "Chyba: vstupní soubor není ZIP soubor"

        CZ_NoExeSpecified, "Chyba - soubor nebyl zadán žádný .EXE"
        CZ_InputNotExe,    "Chyba: vstupní soubor není .EXE soubor"
        CZ_SFXTypeUnknown, "Chyba urèení typu SFX archivu"

        DS_NoInFile,       "Vstupní sounor neexistuje"
        DS_FileOpen,       "ZIP soubor nemùže být otevøen"
        DS_NotaDrive,      "Chybné zadání disku: %s"
        DS_DriveNoMount,   "Disk %s není definován"
        DS_NoVolume,       "Nelze nastavit jméno disku"
        DS_NoMem,          "Nedostatek pamìti pro zobrazení hlášení"
        DS_Canceled,       "Uživatel pøerušil operaci"
        DS_FailedSeek,     "Nalezena chyba ve vstupním souboru"
        DS_NoOutFile,      "Nepodaøilo se vytvoøit výstupní soubor"
        DS_NoWrite,        "Chyba pøi zápisu do výstupního souboru"
        DS_EOCBadRead,     "Chyba bìhem ètení konce centrálního adresáøe"
        DS_LOHBadRead,     "Chyba bìhem ètení lokálního záhlaví"
        DS_CEHBadRead,     "Chyba bìhem ètení spoleèného záhlaví"
        DS_LOHWrongSig,    "Podpis lokálního záhlaví je chybný"
        DS_CEHWrongSig,    "Podpis centrálního záhlaví je chybný"
        DS_LONameLen,      "Chyba bìhem ètení lokálního jména souboru"
        DS_CENameLen,      "Chyba bìhem ètení centrálního jména souboru"
        DS_LOExtraLen,     "Chyba bìhem ètení lokálního zvláštního pole"
        DS_CEExtraLen,     "Chyba bìhem ètení centrálního zvláštního pole"
        DS_DataDesc,       "Chyba bìhem ètení/zápisu datové popisné oblasti"
        DS_ZipData,        "Chyba bìhem ètení archivovaných dat"
        DS_CECommentLen,   "Chyba bìhem ètení souborového komentáøe"
        DS_EOArchComLen,   "Chyba bìhem ètení archivního komentáøe"
        DS_ErrorUnknown,   "Neznámá chyba ve funkci ReadSpan() nebo WriteSpan()"
        DS_NoUnattSpan,    "Nekomentované vytváøení vícesvazkového archivu není implementováno"
        DS_EntryLost,      "Ve vnitøní struktuøe nebylo nalezeno lokální záhlaví"
        DS_NoTempFile,     "Nelze vytvoøit pracovní soubor"
        DS_LOHBadWrite,    "Chyba bìhem zápisu lokálního záhlaví"
        DS_CEHBadWrite,    "Chyba bìhem zápisu centrálního záhlaví"
        DS_EOCBadWrite,    "Chyba bìhem zápisu konce centrálního adresáøe"
        DS_ExtWrongSig,    "Chyba bìhem ètení rozšíøeného lokálního podpisu"
        DS_NoDiskSpace,    "Tento disk nemá dostatek volného místa"
        DS_InsertDisk,     "Vložte poslední disk"
        DS_InsertVolume,   "Vložte disk se jménem %.1d z %.1d"
        DS_InDrive,        "\ndo mechaniky: %s"
        DS_NoValidZip,     "Tento archiv není platným ZIP archivem"
        DS_FirstInSet,     "Toto je první disk v archivní sadì,\nvložte poslední disk této sady"
        DS_NotLastInSet,   "Toto je %d. disk v archivní sadì,\nvložte poslední disk této sady"
        DS_AskDeleteFile,  "Zde již je soubor %s\nOpravdu chcete pøepsat tento soubor"
        DS_AskPrevFile,    "UPOZORNÌNÍ: Toto je pøedchozí disk è. %d!!!\nOpravdu chcete pøepsat jeho obsah"
        DS_NoSFXSpan,      "Chyba - Samorozbalující archiv (.EXE) nelze rozložit do více svazkù"
        DS_CEHBadCopy,     "Chyba bìhem kopírování jména souboru CEH struktury"
        DS_EOCBadSeek,     "Nalezena chyba bìhem pøeskakování EOC struktury"
        DS_EOCBadCopy,     "Chyba bìhem kopírování komentáøe archivu"
        DS_FirstFileOnHD,  "Toto je první soubor v archivní sadì,\nvyberte poslední soubor této sady"
        DS_InsertAVolume,  "Vložte disk se jménem %.1d"
}
