#include "ZipMsg.h"

// updates provided by  João Alexandre de Toledo
// edited R.Peters 2005-11-27

STRINGTABLE LANGUAGE 0x16, 1 // 0416
{
  DT_Language,        "BR: Brazilian"
GE_FatalZip,		           "Erro Fatal em DelZip179.DLL: abortando..."
GE_NoZipSpecified,     "Erro - nenhum arquivo Zip foi especificado!"
GE_NoMem,			      "Memória pedida não disponível"
GE_WrongPassword,	 "Erro - Senhas NÃO coincidem\nSenha ignorada"
GE_CopyFile,		           "Copiando: "

RN_ZipSFXData,           "Erro ao copiar o cabeçalho SFX"
RN_NoRenOnSpan,          "Renomear não implementado para um arquivo zip dividido"
RN_ProcessFile,          "Processando: "
RN_RenameTo,				 " renomeado para: "

PW_UnatAddPWMiss,	 "Erro - nenhuma senha foi fornecida para adição"
PW_UnatExtPWMiss,	      "Erro - nenhuma senha foi fornecida para extração"
ZB_OK,				                "&Ok"
ZB_Cancel			 "&Cancelar"
PW_Caption		 	 "Senha"
PW_MessageEnter	 "Informe a Senha "
PW_MessageConfirm	 "Confirme a Senha "
ZB_CancelAll,           "Cancelar Tudo"
ZB_Abort,               "Abortar"
PW_ForFile,             " para o arquivo: "


CF_SourceIsDest,        "Arquivos de Origem e Destino são o mesmo!"
CF_OverwriteYN,         "Sobrescreve o arquivo '%s' em '%s' ?"
CF_CopyFailed,          "Falha ao copiar um arquivo de '%s' para '%s'"
CF_SourceNotFound,      "Arquivo '%s' n=E3o est=E1 presente em '%s'!"
CF_SFXCopyError,        "Erro ao copiar dados SFX"
CF_DestFileNoOpen,      "O Arquivo ZIP de destino não pôde ser aberto!"
CF_NoCopyOnSpan,   "CopyZippedFiles não é implementada para arquivos ZIP divididos em múltiplos volumes"

LI_ReadZipError,        "Erro de busca lendo arquivo Zip!"
LI_ErrorUnknown,	 "Erro desconhecido na função List()"
LI_WrongZipStruct, "Advertência - Erro de estrutura no Zip!"
LI_GarbageAtEOF,	 "Advertência - Lixo no final do arquivo Zip!"

AD_NothingToZip,	 "Erro - nenhum arquivo para zipar!"
AD_UnattPassword,	 "Ação desassistida não é possivel sem uma senha"
AD_NoFreshenUpdate,"AddFreshen ou AddUpdate não são possíveis em um arquivo dividido"
AD_AutoSFXWrong,	 "Ocorreu o erro %.1d durante a criação do Auto SFX."
//AD_NoStreamDLL,         "Erro - a biblioteca ZipDLL.dll que você está utilizando não suporta Streams. Por favor, atualize-a para a versão 1.60 ou posterior"
AD_InIsOutStream,       "Stream de Entrada não pode ser definida como Stream de Saída"
AD_InvalidName,         "Caracteres coringas não são permitidos no Nome do Arquivo ou na especificação de arquivos"

DL_NothingToDel,	 "Erro - nenhum arquivo selecionado para deleção"
DL_NoDelOnSpan,   "Não é possível deletar arquivos de um ZIP dividido em múltiplos volumes"

EX_FatalUnZip,		 "Erro Fatal em DelZip179.DLL: abortando..."
EX_UnAttPassword,	 "Advertência - Extração desassistida: alguns arquivos podem não ter sido extraídos"
//EX_NoStreamDLL,	"Erro - sua UnzDLL.dll não pode usar streams, por favor atualize para uma versão >= 1.60"

LD_DllLoaded,	 "%s Carregada"
//LZ_NoZipDllExec,	 "Função ZipDllExec não encontrada em ZIPDLL.DLL!"
//LZ_NoZipDllVers,	 "Função GetZipDllVersion não encontrada em ZIPDLL.DLL!"
LD_NoDll,		 "%s não encontrada!"
LD_BadDll,           "Tentou carregar %s desatualizada de "

//LU_UnzDllLoaded,	 "UNZDLL Carregada!"
//LU_NoUnzDllExec,	 "Função UnzDllExec não encontrada em UNZDLL.DLL!"
//LU_NoUnzDllVers,	 "Função GetUnzDllVersion não encontrada em UNZDLL.DLL!"
//LU_NoUnzDll,		 "UNZDLL.DLL não encontrada!"
//LU_OldUnzDll,           "Tentou carregar UnzDll desatualizada de "

SF_StringTooLong,	 "Erro - Uma ou mais das 4 propriedades mencionadas abaixo excedem 255 caracteres!"
SF_NoZipSFXBin,	 "Erro - %s não encontrado!"
SF_InputIsNoZip,	 "Erro: o arquivo de entrada não é um arquivo Zip"
 SF_NoSFXSupport,        "SFX não funciona apoiado"

CZ_NoExeSpecified, "Erro - nenhum arquivo .EXE foi especificado"
CZ_InputNotExe,	 "Erro: arquivo de entrada não é um arquivo .EXE"
CZ_SFXTypeUnknown, "Erro determinando o tipo do arquivo SFX"

DS_NoInFile,		 "O arquivo de entrada não existe"
DS_FileOpen,		 "O arquivo Zip não pode ser aberto"
DS_NotaDrive,		 "O drive %s não é válido"
DS_DriveNoMount,	 "O drive %s NÂO está definido"
DS_NoVolume,		 "O rótulo do volume do drive não pode ser definido"
DS_NoMem,			 "Não há memória suficiente para exibir a MsgBox"
DS_Canceled,		 "Operação cancelada pelo usuário"
DS_FailedSeek,		 "Erro de busca no arquivo de entrada"
DS_NoOutFile,		 "Falha na criação do arquivo de saída"
DS_NoWrite,			 "Erro de gravação do arquivo de saída"
DS_EOCBadRead,		 "Erro lendo o final do Diretório Central"
DS_LOHBadRead,		 "Erro lendo o cabeçalho local"
DS_CEHBadRead,		 "Erro lendo o cabeçalho central"
DS_LOHWrongSig,	 "A assinatura de um cabeçalho local está errada"
DS_CEHWrongSig,	 "A assinatura de um cabeçalho central está errada"
DS_LONameLen,		 "Erro lendo um nome de arquivo local"
DS_CENameLen,		 "Erro lendo um nome de arquivo central"
DS_LOExtraLen,		 "Erro lendo um campo local extral"
DS_CEExtraLen,		 "Erro lendo um campo central extra"
DS_DataDesc,		 "Erro lendo/gravando a área do descritor de dados"
DS_ZipData,			 "Erro lendo os dados zipados"
DS_CECommentLen,	 "Erro lendo um arquivo de comentário"
DS_EOArchComLen,	 "Erro lendo o comentário arquivado"
DS_ErrorUnknown,	 "Erro desconhecido na função ReadSpan(), WriteSpan() ou Rename()\n"
DS_NoUnattSpan,	 "Divisão desassistida em disco não implementada"
DS_EntryLost,		 "Um cabeçalho local não foi encontrado na estrutura interna"
DS_NoTempFile,		 "Arquivo temporário não pôde ser criado"
DS_LOHBadWrite,	 "Erro gravando um cabeçalho local"
DS_CEHBadWrite,	 "Erro gravando um cabeçalho central"
DS_EOCBadWrite,	 "Erro gravando o Final do Diretório Central"
DS_ExtWrongSig,	 "Erro lendo uma Assinatura Local Extendida"
DS_NoDiskSpace,	 "Este disco não dispõe de espaço livre suficiente"
DS_InsertDisk,		 "Por favor, insira o último disco"
DS_InsertVolume,	 "Por favor, insira o disco %.1d de %.1d"
DS_InDrive,			 "\nno drive: %s"
DS_NoValidZip,		 "Este arquivo não é um arquivo Zip válido"
DS_FirstInSet,		 "Este é o primeiro disco de um conjunto de backup,\npor favor insira o último disco deste conjunto"
DS_NotLastInSet,	 "Este é o %d\272 disco do conjunto do backup,\npor favor insira o último disco deste conjunto"
DS_AskDeleteFile,	 "O arquivo %s já existe.\nVocê quer gravar sobre este arquivo?"
DS_AskPrevFile,	 "ATENÇÃO: Este é o disco anterior número %d!!!\nVocê tem certeza que deseja gravar sobre seu conteúdo?"
DS_NoSFXSpan,		 "Erro - Arquivos de auto-extração (.exe) não podem ser divididos"
DS_CEHBadCopy,		 "Erro enquanto copiava um nome de arquivo de uma estrutura CEH"
DS_EOCBadSeek,		 "Erro de busca enquanto saltava uma estrutura EOC"
DS_EOCBadCopy,		 "Erro enquanto copiava o comentário do arquivo Zip"
DS_FirstFileOnHD,	 "Este é o primeiro arquivo em um conjunto de backup,\npor favor escolha o último arquivo deste conjunto"
DS_InsertAVolume,        "Por favor insira o disco %.1d"
DS_CopyCentral,          "Diretório Central"
DS_NoDiskSpan,          "Divisão em Múltiplos Volumes (discos) nãosuportada"

}

