#include "zipmsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x07, 1 // 0407
{
  DT_Language,        "DE: German"
 GE_FatalZip, "Fataler Fehler in DelZip179.DLL: Aktion abgebrochen!"
 GE_NoZipSpecified, "Fehler - keine Archivdatei angegeben!"
 GE_NoMem, "Angeforderter Speicher konnte nicht reserviert werden!"
 GE_WrongPassword, "Fehler - falsches Passwort\nPasswort ignoriert!"
 GE_CopyFile, "Kopiere von:"
 RN_ZipSFXData, "Fehler beim Kopieren des SFX-Headers!"
 RN_NoRenOnSpan, "Umbenennen ist im aufgeteilten Archiv nicht möglich!"
 RN_ProcessFile, "Bearbeite: "
 RN_RenameTo, " umbenannt zu: "
 PW_UnatAddPWMiss, "Fehler - kein Passwort zum Hinzufügen angegeben!"
 PW_UnatExtPWMiss, "Fehler - kein Passwort zum Entpacken angegeben!"
 ZB_OK, "&OK"
 ZB_Cancel, "&Abbrechen"
 PW_Caption, "Passwort"
 PW_MessageEnter, "Geben Sie bitte das Passwort ein:"
 PW_MessageConfirm, "Bestätigen Sie das Passwort:"
 ZB_CancelAll, "Alles abbrechen"
 ZB_Abort, "Abbrechen"
 PW_ForFile, " für Datei: "
 CF_SourceIsDest, "Quell- und Ziel-Archiv sind identisch!"
 CF_OverwriteYN, "Datei '%s' in '%s' überschreiben?"
 CF_CopyFailed, "Fehler beim Kopieren von '%s' nach '%s'!"
 CF_SourceNotFound, "Datei '%s' in '%s' nicht vorhanden!"
 CF_SFXCopyError, "Fehler beim Kopieren der SFX-Daten!"
 CF_DestFileNoOpen, "Das Ziel-Archiv konnte nicht geöffnet werden!"
 LI_ReadZipError, "Suchfehler beim Lesen des Archivs!"
 LI_ErrorUnknown, "Unbekannter Fehler in List()-Funktion!"
 LI_WrongZipStruct, "Warnung - Fehler in Archiv-Struktur!"
 LI_GarbageAtEOF, "Warnung - unbekannte Daten am Archivende!"
 AD_NothingToZip, "Fehler - keine Dateien zu packen!"
 AD_UnattPassword, "Automatische Ausführung ohne Passwort ist nicht möglich!"
 AD_NoFreshenUpdate, "AddFreshen oder AddUpdate nicht möglich bei einem aufgeteilten Archiv!"
 AD_AutoSFXWrong, "Beim Erstellen des SFX-Archivs trat der Fehler %.1d auf!"
// AD_NoStreamDLL, "Fehler - Ihre ZIPDLL.dll kann nicht mit Streams arbeiten, Sie benötigen eine Version >= 1.60. "
 AD_InIsOutStream, "Der Eingangsstream kann/darf nicht auf den Ausgangsstream gesetzt werden"
 AD_InvalidName, "Platzhalter (* und ?) sind bei den Dateinamen nicht zulässig"
 DL_NothingToDel, "Fehler - keine Dateien zum Löschen angegeben!"
 EX_FatalUnZip, "Fataler Fehler in DelZip179.DLL: Aktion abgebrochen!"
 EX_UnAttPassword, "Warnung - Automatisches Entpacken : Möglicherweise wurden nicht alle Dateien entpackt!"
 //EX_NoStreamDLL, "Fehler - Ihre UNZDLL.DLL kann nicht mit Streams umgehen, ein Update auf Version >= 1.60 ist notwendig!"
 LD_DllLoaded, "%s geladen"
// LZ_NoZipDllExec, "ZipDllExec-Funktion in ZIPDLL.DLL nicht gefunden!"
// LZ_NoZipDllVers, "GetZipDllVersion-Funktion in ZIPDLL.DLL nicht gefunden!"
 LD_NoDll, "%s nicht gefunden!"
 LD_BadDll, "Es wurde versucht, eine alte %s zu laden von "
// LU_UnzDllLoaded, "UNZDLL geladen"
// LU_NoUnzDllExec, "UnzDllExec-Funktion in UNZDLL.DLL nicht gefunden!"
// LU_NoUnzDllVers, "GetUnzDllVersion-Funktion in UNZDLL.DLL nicht gefunden!"
// LU_NoUnzDll, "UNZDLL.DLL nicht gefunden!"
// LU_OldUnzDll, "Es wurde versucht, eine alte UnzDll zu laden von "
 SF_StringTooLong, "Fehler - die Gesamtlänge der drei Texte ist größer als 245 Zeichen!"
 SF_NoZipSFXBin, "Fehler - %s nicht gefunden!"
 SF_InputIsNoZip, "Fehler - gelesene Datei ist keine ZIP-Datei!"
 SF_NoSFXSupport,  "SFX-Funktionen werden nicht unterstützt"
 CZ_NoExeSpecified, "Fehler - keine .EXE-Datei angegeben!"
 CZ_InputNotExe, "Fehler - gelesene Datei ist keine .EXE-Datei!"
 CZ_SFXTypeUnknown, "Fehler - unbekanntes SFX-Format!"
 DS_NoInFile, "Zu lesende Datei nicht gefunden"
 DS_FileOpen, "Archivdatei kann nicht geöffnet werden"
 DS_NotaDrive, "Unbekanntes Laufwerk: %s"
 DS_DriveNoMount, "Laufwerk %s ist nicht verfügbar"
 DS_NoVolume, "Das Volume Label ( Laufwerksbezeichnung ) konnte nicht geändert werden"
 DS_NoMem, "Nicht genügend Speicher zum Anzeigen der Meldung verfügbar"
 DS_Canceled, "Abbruch der Operation durch den Benutzer"
 DS_FailedSeek, "Suchfehler in Eingabedatei"
 DS_NoOutFile, "Kann Ausgabedatei nicht erzeugen"
 DS_NoWrite, "Schreibfehler in Ausgabedatei"
 DS_EOCBadRead, "Fehler beim Lesen der EOC-Struktur"
 DS_LOHBadRead, "Fehler beim Lesen eines lokalen Headers"
 DS_CEHBadRead, "Fehler beim Lesen eines zentralen Headers"
 DS_LOHWrongSig, "Fehlerhafte Signatur eines lokalen Headers"
 DS_CEHWrongSig, "Fehlerhafte Signatur eines zentralen Headers"
 DS_LONameLen, "Fehler beim Lesen eines lokalen Dateinamens"
 DS_CENameLen, "Fehler beim Lesen eines zentralen Dateinamens"
 DS_LOExtraLen, "Fehler beim Lesen eines lokalen Zusatzfeldes"
 DS_CEExtraLen, "Fehler beim Lesen eines zentralen Zusatzfeldes"
 DS_DataDesc, "Fehler beim Lesen/Schreiben eines Datenbeschreibungs-Bereiches"
 DS_ZipData, "Fehler beim Lesen der gepackten Daten"
 DS_CECommentLen, "Fehler beim Lesen eines Dateikommentars"
 DS_EOArchComLen, "Fehler beim Lesen des Archivkommentars"
 DS_ErrorUnknown, "Unbekannter Fehler in Funktion ReadSpan() oder WriteSpan()"
 DS_NoUnattSpan, "Unbeaufsichtigtes Verteilen auf mehrere Datenträger ist nicht implementiert"
 DS_EntryLost, "Ein lokaler Header wurde in der internen Struktur nicht gefunden"
 DS_NoTempFile, "Kann keine temporäre Datei anlegen"
 DS_LOHBadWrite, "Fehler beim Schreiben eines lokalen Headers"
 DS_CEHBadWrite, "Fehler beim Schreiben eines zentralen Headers"
 DS_EOCBadWrite, "Fehler beim Schreiben des End Of Central Directory"
 DS_ExtWrongSig, "Fehler beim Lesen einer erweiterten lokalen Signatur"
 DS_NoDiskSpace, "Auf dem Datenträger ist nicht genügend Speicherplatz verfügbar"
 DS_InsertDisk, "Bitte legen Sie die letzte Diskette ein"
 DS_InsertVolume, "Bitte legen Sie Diskette %.1d von %.1d ein"
 DS_InDrive, "\nin Laufwerk: %s"
 DS_NoValidZip, "Dieses (SFX-) Archiv ist keine gültige ZIP-Datei"
 DS_FirstInSet, "Dies ist die erste Diskette des Archivsatzes,\nbitte legen Sie die letzte Diskette des Satzes ein"
 DS_NotLastInSet, "Dies ist Diskette Nr. %d des Archiv-Satzes,\nbitte legen Sie die letzte Diskette des Satzes ein"
 DS_AskDeleteFile, "Die Datei %s existiert bereits\nSoll die bestehende Datei überschrieben werden?"
 DS_AskPrevFile, "ACHTUNG: Diese Diskette wird bereits benutzt ( Nr. %d ) !!!\nWollen Sie die Daten wirklich überschreiben?"
 DS_NoSFXSpan, "Fehler - Selbstentpackende Archive (.EXE) können nicht aufgeteilt werden"
 DS_CEHBadCopy, "Fehler beim Kopieren eines Dateinamens einer CEH-Struktur"
 DS_EOCBadSeek, "Lesefehler beim Überspringen einer EOC-Struktur"
 DS_EOCBadCopy, "Fehler beim Kopieren des Archivkommentars"
 DS_FirstFileOnHD, "Dies ist die erste Datei des Archivsatzes,\nbitte wählen Sie die letzte Datei des Satzes"
 DS_InsertAVolume, "Legen Sie bitte die %.1d Diskette ein"
 DS_CopyCentral, "Central Directory"
DS_NoDiskSpan,  "Keine Unterstützung für geteilte Archive"
}

