#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x3E, 1 // 043E
{
  DT_Language,        "MY: Malaysian"
	GE_FatalZip, 		 "Ralat dalam DelZip179.DLL: pembatalan pengecualian"
	GE_NoZipSpecified, "Ralat - tiada fail zip yang ditentukan!"
	GE_NoMem,			 "Ingatan yang diminta tidak diperuntukan"
	GE_WrongPassword,	 "Ralat - kata Laluan TIDAK sepadan\nKata Laluan diabaikan"
	GE_CopyFile,		 "Sedang menyalin: "

RN_ZipSFXData,           "Ralat semasa menyalin pengepala SFX"
RN_NoRenOnSpan,          "Tiada implematasi penamaan untuk fail zip tersebar"
RN_ProcessFile,          "Sedang memproses: "
RN_RenameTo,				 " tukar nama ke: "

	PW_UnatAddPWMiss,	 "Ralat - tiada penambahan kata laluan diberikan"
	PW_UnatExtPWMiss,	 "Ralat - tiada pengeluaran kata laluan diberikan"
ZB_OK,				 "&Ok"
ZB_Cancel			 "&Batal"
PW_Caption		 	 "Kata Laluan"
PW_MessageEnter	 "Masukkkan Kata Laluan "
PW_MessageConfirm	 "Pengesahan Kata Laluan "

CF_SourceIsDest	 "Arkib sumber sama seperti arkib tujuan!";
CF_OverwriteYN		 "Lampautulis fail '%s' pada '%s' ?"
CF_CopyFailed		 "Penyalinan fail dari '%s' ke '%s' gagal"
CF_SourceNotFound	 "Fail '%s' tidak wujud dalam '%s'!"
CF_SFXCopyError	 "Ralat semasa menyalin data SFX"
CF_DestFileNoOpen, "Arkib zip tujuan tidak boleh dibuka!"

	LI_ReadZipError,	 "Ralat carian sewaktu membaca arkib Zip!"
LI_ErrorUnknown,	 "Ralat yang tidak diketahui dalam fungsi List()\n"
	LI_WrongZipStruct, "Awas - Ralat dalam struktur zip!"
	LI_GarbageAtEOF,	 "AWas - Sarapdata pada hujung fail zip!"

	AD_NothingToZip,	 "Ralat - tiada fail untuk di'zip'!"
	AD_UnattPassword,	 "Kerja-kerja tanpa pengawasan tidak dibolehkan tanpa kata laluan"
	AD_NoFreshenUpdate,"AddFreshen atau AddUpdate tidak dibenarkan pada arkib tersebar"
AD_AutoSFXWrong,	 "Ralat %.1d berlaku semasa penciptaan Auto SFX."

	DL_NothingToDel,	 "Ralat - tiada yang fail dipilih untuk pemadaman"

	EX_FatalUnZip,		 "Ralat dalam DelZip179.DLL: pembatalan pengecualian"
	EX_UnAttPassword,	 "Awas - Pengeluaran tanpa pengawasan: kemingkinan tidak semua fail dikelurkan"
//EX_NoStreamDLL,	"Ralat - UnzDLL.dll anda tidak boleh menggunakan 'streams', sila 'update' ke versi >= 1.60"

	LD_DllLoaded,	 "%s telah dimuatkan"
//	LZ_NoZipDllExec,	 "Fungsi ZipDllExec tidak dijumpai dalam ZIPDLL.DLL!"
//	LZ_NoZipDllVers,	 "Fungsi GetZipDllVersion tidak dijumpai dalam ZIPDLL.DLL!"
	LD_NoDll,		 "%s tidak dijumpai!"

//	LU_UnzDllLoaded,	 "UNZDLL telah dimuatkan!"
//	LU_NoUnzDllExec,	 "Fungsi UnzDllExec tidak dijumpai dalam UNZDLL.DLL!"
//	LU_NoUnzDllVers,	 "Fungsi GetUnzDllVersion tidak dijumpai dalam UNZDLL.DLL!"
//	LU_NoUnzDll,		 "UNZDLL.DLL tidak dijumpai!"

SF_StringTooLong,	 "Ralat - On or more of the 4 property strings mentioned below exceeds 255 characters!"
	SF_NoZipSFXBin,	 "Ralat - %s not found!"
	SF_InputIsNoZip,	 "Ralat: input file is not a zip file"

	CZ_NoExeSpecified, "Ralat - tiada fail .EXE yang ditentukan"
	CZ_InputNotExe,	 "Ralat: fail masukan bukan sebuah fail .EXE"
	CZ_SFXTypeUnknown, "Ralat pemastian jenis arkib SFX"

	DS_NoInFile,		 "Fail masukan tidak wujud"
	DS_FileOpen,		 "Fail Zip tidak boleh dibuka"
	DS_NotaDrive,		 "Bukan pemacu yang dibenarkan: %s"
 DS_DriveNoMount,	 "Pemacu %s TIDAK ditentukan"
	DS_NoVolume,		 "Label Volume tidak dapat disetkan"
	DS_NoMem,			 "Ingatan tidak mencukupi untuk memaparkan MsgBox"
	DS_Canceled,		 "Pengguna membatalkan operasi"
	DS_FailedSeek,		 "Ralat carian pada fail masukan"
	DS_NoOutFile,		 "Penciptaan fail keluaran gagal"
	DS_NoWrite,			 "Ralat penulisan pada fail keluaran"
	DS_EOCBadRead,		 "Ralat semasa membaca Hujung Direktori Pusat"
	DS_LOHBadRead,		 "Ralat semasa membaca pengepala lokal"
	DS_CEHBadRead,		 "Ralat semasa membaca pengepala pusat"
	DS_LOHWrongSig,	 "Tatatanda pengepala lokal adalah salah"
	DS_CEHWrongSig,	 "A central header signature is wrong"
	DS_LONameLen,		 "Ralat semasa membaca nama fail lokal"
	DS_CENameLen,		 "Ralat semasa membaca nama fail pusat"
	DS_LOExtraLen,		 "Ralat semasa membaca fil tambahan lokal"
	DS_CEExtraLen,		 "Ralat semasa membaca fil tambahan pusat"
	DS_DataDesc,		 "Ralat semasa membaca/menulis kawasan butiran data"
	DS_ZipData,			 "Ralat semasa membaca data ter'zip'"
	DS_CECommentLen,	 "Ralat semasa membaca komentar file"
	DS_EOArchComLen,	 "Ralat semasa membaca komntar arkib"
DS_ErrorUnknown,	 "Ralat yang tidak diketahui dalam fungsi ReadSpan(), WriteSpan(), Rename() atau CopyZippedFiles()\n"
	DS_NoUnattSpan,	 "Tiada implensati penyebaran cekera tanapa pengawasan"
	DS_EntryLost,		 "Pengepala lokal tidak dijumpai dalam struktur dalaman"
	DS_NoTempFile,		 "Fail sementara tidak boleh dicipta"
	DS_LOHBadWrite,	 "Ralat semasa menulis pengepala lokal"
	DS_CEHBadWrite,	 "Ralat semasa menulis pengepala pusat"
	DS_EOCBadWrite,	 "Ralat semasa menulis Hujung Direktori Pusat"
	DS_ExtWrongSig,	 "Ralat semasa membaca Tatatanda Tambahan Lokal"
	DS_NoDiskSpace,	 "Cekera keras tidak mempunyai ruang yang mencukupi"
	DS_InsertDisk,		 "Sila masukkan cekera terakhir"
	DS_InsertVolume,	 "Sila masukkan cekera volume %.1d daripada %.1d"
	DS_InDrive,			 "\ndalam pemacu: %s"
	DS_NoValidZip,		 "Arkib ini bukan sebuah arkib ZIP yang sah"
	DS_FirstInSet,		 "Ini ialah cekera pertama set backup,\nsila masukkan cekera terakhir set ini"
	DS_NotLastInSet,	 "Ini ialah cekera ke %d set backup,\nsila masukkan cekera terakhir set ini"
	DS_AskDeleteFile,	 "Sudah terdapat sebuah fila %s\nAdakah anda ingin melampautulis fail ini"
	DS_AskPrevFile,	 "PERHATIAN: Ini ialah cekera terdahulu %d!!!\nAdakah anda pasti mahu melampautulis isi kandungannya"
	DS_NoSFXSpan,		 "Ralat - Arkib pengeluanran sendiri(.exe) tidak boleh disebarkan"
	DS_CEHBadCopy,		 "Ralat semasa menyalin sebuah nama fail dari struktur CEH"
	DS_EOCBadSeek,		 "Ralat carian semasa pelankauan struktur EOC"
	DS_EOCBadCopy,		 "Ralat semasa menyalian komentar arkib zip"
	DS_FirstFileOnHD,	 "Ini ialah fail pertama set backup,\nsila pilih file terakhir set ini"
DS_InsertAVolume,        "Sila masukkan cekera volume %.1d"
DS_CopyCentral,          "Directory Pusat"
}
