#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x14, 1 // 0414
{
  DT_Language,        "NO: Norwegian"
	GE_FatalZip, 		 "Fatal feil i DelZip179.DLL: avbryts-unntak"
	GE_NoZipSpecified, "Feil - ingen ZIP fil spesifisert!"
	GE_NoMem,			 "Etterspurt minne ikke tilgjengelig"
	GE_WrongPassword,	 "Feil - passordene er ulike\nPassord ignorert"
	GE_CopyFile,		 "Kopierer: "

RN_ZipSFXData,           "Feil under kopiering av SFX headeren"
RN_NoRenOnSpan,          "Gi nytt navn er ikke tilgjengelig for oppdelte ZIP-filer"
RN_ProcessFile,          "Arbeider: "
RN_RenameTo,				 " har fått nytt navn: "

	PW_UnatAddPWMiss,	 "Feil - ingen passord for innpakking"
	PW_UnatExtPWMiss,	 "Feil - ingen passord for utpakking"
ZB_OK,				 "&Ok"
ZB_Cancel,			 "A&vbryt"
PW_Caption,		 	 "Passord"
PW_MessageEnter,	 "Skriv inn passord "
PW_MessageConfirm, "Gjenta passord "
ZB_CancelAll,		 "Avbryt alle "
ZB_Abort,			 "Avbryt "
PW_ForFile,			 " for filen: "

CF_SourceIsDest,	 "Kilde-arkivet er det samme som destinasjons-arkivet!"
CF_OverwriteYN,	 "Overskriv fil '%s' i '%s' ?"
CF_CopyFailed,		 "Kopi av en fil fra '%s' til '%s' feilet"
CF_SourceNotFound, "Filen '%s' finnes ikke i '%s'!"
CF_SFXCopyError,	 "Feil under kopiering av SFX data"
CF_DestFileNoOpen, "Destinasjons-arkivet kunne ikke åpnest!"

	LI_ReadZipError,	 "Søkefeil under lesing av ZIP-arkivet!"
LI_ErrorUnknown,	 "Ukjent feil i List() funksjonen\n"
	LI_WrongZipStruct, "Advarsel - Feil i ZIP strukturen!"
	LI_GarbageAtEOF,	 "Advarsel - Avfall på slutten av ZIP-filen!"

	AD_NothingToZip,	 "Feil - ingen filer å zippe!"
	AD_UnattPassword,	 "Handling ikke mulig uten passord"
	AD_NoFreshenUpdate,"AddFreshen eller AddUpdate ikke mulig på et oppdelt arkiv"
AD_AutoSFXWrong,	 "Feil %.1d oppstod under Auto SFX dannelse."
//AD_NoStreamDLL,	 "Feil - din ZipDLL.dll kan ikke bruke streams, vennligst oppdater til versjon >= 1.60"
AD_InIsOutStream,	 "Input streamen er kanskje ikke satt til output streamen"
AD_InvalidName,	 "Wildcards (*, ?) er ikke tillatt i filnavn eller fil-spesifikasjonen"

	DL_NothingToDel,	 "Feil - ingen filer valgt for sletting"

	EX_FatalUnZip,		 "Fatal feil i DelZip179.DLL: avbryts-unntak"
	EX_UnAttPassword,	 "Advarsel - Uforsiktig utpakking: mulig at ikke alle filer blir pakket ut"
//EX_NoStreamDLL,	"Feil - din UnzDLL.dll kan ikke bruke streams, vennligst oppdater til versjon >= 1.60"

	LD_DllLoaded,	 "%s lastet"
//	LZ_NoZipDllExec,	 "ZipDllExec funksjonen ikke funnet i ZIPDLL.DLL!"
//	LZ_NoZipDllVers,	 "GetZipDllVersion funksjonen ikke funnet i ZIPDLL.DLL!"
	LD_NoDll,		 "%s ikke funnet!"

//	LU_UnzDllLoaded,	 "UNZDLL lastet!"
//	LU_NoUnzDllExec,	 "UnzDllExec funksjonen ikke funnet i UNZDLL.DLL!"
//	LU_NoUnzDllVers,	 "GetUnzDllVersion funksjonen ikke funnet i UNZDLL.DLL!"
//	LU_NoUnzDll,		 "UNZDLL.DLL ikke funnet!"

SF_StringTooLong,	 "Feil - En eller flere av de 4 egenskaps-strengene nevnt nedenfor er lengre enn 255 bokstaver!"
	SF_NoZipSFXBin,	 "Feil - %s ikke funnet!"
	SF_InputIsNoZip,	 "Feil: filen er ikke en ZIP-fil"

	CZ_NoExeSpecified, "Feil - ingen .EXE fil spesifisert"
	CZ_InputNotExe,	 "Feil: filen er ikke en .EXE fil"
	CZ_SFXTypeUnknown, "Feil: kunne ikke bestemme typen SFX-arkiv"

	DS_NoInFile,		 "Filen eksisterer ikke"
	DS_FileOpen,		 "ZIP-filen kan ikke åpnes"
	DS_NotaDrive,		 "Ikke en gyldig stasjon: %s"
 DS_DriveNoMount,	 "Stasjonen %s er ikke definert"
	DS_NoVolume,		 "Volumets navn kunne ikke skrivest"
	DS_NoMem,			 "Ikke nok minne til å vise MsgBox"
	DS_Canceled,		 "Bruker avbrøt operasjonen"
	DS_FailedSeek,		 "Søke-feil i input-filen"
	DS_NoOutFile,		 "Dannelse av output filen feilet"
	DS_NoWrite,			 "Skrive feil i output filen"
	DS_EOCBadRead,		 "Feil under lesing av End of Central katalogen"
	DS_LOHBadRead,		 "Feil under lesing av den lokale headeren"
	DS_CEHBadRead,		 "Feil under lesing av en sentral header"
	DS_LOHWrongSig,	 "En lokal headers signatur er feil"
	DS_CEHWrongSig,	 "En sentral headers signatur er feil"
	DS_LONameLen,		 "Feil under lesing av et lokalt filnavn"
	DS_CENameLen,		 "Feil under lesing av et sentralt filnavn"
	DS_LOExtraLen,		 "Feil under lesing av et lokalt ekstra-felt"
	DS_CEExtraLen,		 "Feil under lesing av et sentral ekstra-felt"
	DS_DataDesc,		 "Feil under lesing/skriving av et data-beskrivelses område"
	DS_ZipData,			 "Feil under lesing av ZIP data"
	DS_CECommentLen,	 "Feil under lesing av fil-kommentaren"
	DS_EOArchComLen,	 "Feil under lesing av arkiv-kommentaren"
DS_ErrorUnknown,	 "Ukjent feil i funksjonen ReadSpan(), WriteSpan(), Rename() eller CopyZippedFiles()\n"
	DS_NoUnattSpan,	 "Uforsiktig disk oppdeling ikke tilgjengelig"
	DS_EntryLost,		 "En lokal header ble ikke funnet i arkivets struktur"
	DS_NoTempFile,		 "Midlertidig fil kunne ikke opprettes"
	DS_LOHBadWrite,	 "Feil under skriving av en lokal header"
	DS_CEHBadWrite,	 "Feil under skriving av en sentral header"
	DS_EOCBadWrite,	 "Feil under skriving av End Of Central katalogen"
	DS_ExtWrongSig,	 "Feil under lesing av en utvidet lokal signatur"
	DS_NoDiskSpace,	 "Denne stasjonen har ikke nok plass ledig"
	DS_InsertDisk,		 "Vennligst sett inn siste disken"
	DS_InsertVolume,	 "Vennligst sett inn volum %.1d av %.1d"
	DS_InDrive,			 "\ni stasjon: %s"
	DS_NoValidZip,		 "Dette arkivet er ikke et gyldig ZIP-arkiv"
	DS_FirstInSet,		 "Dette er den første disken i et backup sett,\nvennligst sett inn den siste disketten i settet"
	DS_NotLastInSet,	 "Dette er den %d. disken i ett backup sett,\nvennligst sett inn den siste disketten i settet"
	DS_AskDeleteFile,	 "Filen %s finnes allerede\nVil du overskrive denne filen?"
	DS_AskPrevFile,	 "ADVARSEL: Dette er den tidligere disk nr. %d!!!\nEr du sikker på at du vil overskrive innholdet"
	DS_NoSFXSpan,		 "Feil - Self extracting archives(.exe) kan ikke deles opp"
	DS_CEHBadCopy,		 "Feil under kopiering av en fil i en CEH struktur"
	DS_EOCBadSeek,		 "Søkefeil ved overhopping av en EOC struktur"
	DS_EOCBadCopy,		 "Feil under kopiering av ZIP arkivets kommentar"
	DS_FirstFileOnHD,	 "Dette er den første filen i et backup-sett,\nvennligst velg den siste filen i dette settet"
DS_InsertAVolume,        "Vennligst sett inn volum %.1d"
DS_CopyCentral,          "Sentralkatalog"
}
