#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
  LANGUAGE 0x1A, 2 // 0x081A
{
  DT_Language,        "YU: Serbian"
    GE_FatalZip,             "Fatalna greska u DelZip179.DLL: Operacija prekinuta."
    GE_NoZipSpecified,       "Greska - Ime Zip fajla nije dodeljeno!"
    GE_NoMem,                "Nedovoljno memorije"
    GE_WrongPassword,        "Greska - unete lozinke se razlikuju\nLozinke ignorisane"
    GE_CopyFile,             "Kopiram: "
    RN_ZipSFXData,           "Greska prilikom kopiranja SFX dela"
    RN_NoRenOnSpan,          "Reimenovanje nije implmentirano sa multi-volume arhivama"
    RN_ProcessFile,          "Procesiram: "
    RN_RenameTo,             " reimenovan u: "
    PW_UnatAddPWMiss,        "Greska - nema lozinke za dodavanje"
    PW_UnatExtPWMiss,        "Greska - nema lozinke za dekompresiju"
    ZB_OK,                   "&Ok"
    ZB_Cancel,               "&Prekid"
    PW_Caption,              "Lozinka "
    PW_MessageEnter,         "Unesite lozinku"
    PW_MessageConfirm,       "Potvrdite lozinku"
    LI_ReadZipError,         "Greska u pozicioniranju prilikom citanja"
    LI_ErrorUnknown,         "Nepoznata greska u List() funkciji\n"
    LI_WrongZipStruct,       "Upozorenje - Greska u strukturi ZIP-a"
    LI_GarbageAtEOF,         "Upozorenje - nepotrebni bajtovi pri kraju ZIP-a"
    AD_NothingToZip,         "Greska - nema sta da se kompresuje"
    AD_UnattPassword,        "Unattended ne radi bez lozinke"
    AD_NoFreshenUpdate,      "AddFreshen ili/i AddUpdate ne rade na multi-voulme arhivama"
    AD_AutoSFXWrong,         "Greska %.1d prilikom samo-kreiranja SFX glave"
    DL_NothingToDel,         "Greska -  nisu zadati fajlovi za brisanje"
    EX_FatalUnZip,           "Fatalna greska u DelZip179.DLL:Prekidam"
    EX_UnAttPassword,        "Upozorenje - Unattended Extract. Mozda nisu svi fajlovi dekompresovani"
 //   EX_NoStreamDLL,          "Greska - Vas UnzDLL.dll ne radi sa strimovima, Molim Vas updejtujte u verziju 1.6 ili visu."
    LD_DllLoaded,         "%s aktiviran"
 //   LZ_NoZipDllExec,         "ZipDllExec funkcija nije u ZIPDLL.DLL!"
 //   LZ_NoZipDllVers,         "GetZipDllVersion funcija nije u ZIPDLL.DLL!"
    LD_NoDll,             "%s nije u putanji!"
 //   LU_UnzDllLoaded,         "UNZDLL aktiviran!"
 //   LU_NoUnzDllExec,         "UnzDllExec funkcija nije u UNZDLL.DLL!"
 //   LU_NoUnzDllVers,         "GetUnzDllVersion funkcija nije u UNZDLL.DLL!"
 //   LU_NoUnzDll,             "UNZDLL.DLL nije pronadjen!"
    SF_StringTooLong,         "Greska - jedna ili vise od dole navedenig stringova prelazi 255 karaktera!"
    SF_NoZipSFXBin,          "Greska - %s nije pronadjen!"
    SF_InputIsNoZip,         "Greska - ulazni fajl nije ZIP"
    CZ_NoExeSpecified,       "Greska - EXE fajl nije dodeljen"
    CZ_InputNotExe,          "Greska - ulazni fajl nije EXE fajl"
    CZ_SFXTypeUnknown,       "Greska prilikom odredjivanja SFX tipa."
    DS_NoInFile,             "Ulazni fajl ne postoji"
    DS_FileOpen,             "Ne mogu da otvorim Zip Fajl"
    DS_NotaDrive,            "Ne validan drajv: %s"
    DS_DriveNoMount,         "Drajv %s nije definisan"
    DS_NoVolume,             "Ne mogu da podesim Volume Label"
    DS_NoMem,                "Nedovoljno memorije za MshBox"
    DS_Canceled,             "Korisnik prekinuo operaciju"
    DS_FailedSeek,           "Poziciona greska u ulaznom fajlu"
    DS_NoOutFile,            "Neuspelo kreiranje izlanog fajla"
    DS_NoWrite,              "Greska prilikom pisanja izlaza"
    DS_EOCBadRead,           "Greska u citanju End Of Central Directory"
    DS_LOHBadRead,           "Greska u citanju local header - a"
    DS_CEHBadRead,           "Greska u citanju central header - a"
    DS_LOHWrongSig,          "local header otisak je pogresan"
    DS_CEHWrongSig,          "central header otisak je pogresna"
    DS_LONameLen,            "Greska pri citanju local file name"
    DS_CENameLen,            "Greska u citanju central file name"
    DS_LOExtraLen,           "Greska u citanju local extra polja"
    DS_CEExtraLen,           "Greska pri citanju central extra polja"
    DS_DataDesc,             "Greska pri citanju/pisanju data descriptor polja"
    DS_ZipData,              "Greska pri citanju kompresovanih podataka"
    DS_CECommentLen,         "Greska pri citanju komentara fajla"
    DS_EOArchComLen,         "Greska pri citanju komentara arhive"
    DS_ErrorUnknown,         "Nepoznata greska u funkciji ReadSpan(), WriteSpan() ili Rename()\n"
    DS_NoUnattSpan,          "Unattended disk spanning nije implementiran"
    DS_EntryLost,            "Lokalni header nije nadjen u internoj strukturi"
    DS_NoTempFile,           "Neuspelo kreiranje temp fajla"
    DS_LOHBadWrite,          "Greska pri pisanju local header"
    DS_CEHBadWrite,          "Greska pri pisanju central header"
    DS_EOCBadWrite,          "Greska pri pisanju End Of Central Directory"
    DS_ExtWrongSig,          "Greska pri citanju Extended Local otiska"
    DS_NoDiskSpace,          "Disk nema dovoljno slobodnog prostora"
    DS_InsertDisk,           "Molim Vas, ubacite poslednji disk"
    DS_InsertVolume,         "Molim Vas, ubacite disk %.1d od %.1d"
    DS_InDrive,              "\nu drajvu: %s"
    DS_NoValidZip,           "Arhiva nije validna Zip arhiva"
    DS_FirstInSet,           "Ovo je prvi disk,\nMolim Vas, ubacite poslednji"
    DS_NotLastInSet,         "Ovo je %dth disk ,\nMolim Vas, ubacite poslednji"
    DS_AskDeleteFile,        "Vec postoji fajl %s\nDa li zelite da pisete preko njega?"
    DS_AskPrevFile,          "PAZNJA: Ovo je prethodni disk br. %d!!!\nDa li ste sigurni da zelite da piset preko njega?"
    DS_NoSFXSpan,            "Greska -  SFX multi-volume ne radi."
    DS_CEHBadCopy,           "Greska pri kopiranju fajla CEH strukture"
    DS_EOCBadSeek,           "Pozociona greska pri prelazu EOC structure"
    DS_EOCBadCopy,           "Greska pri pisanju komentara"
    DS_FirstFileOnHD,        "Ovo je prvi fajl,\nMolim Vas, izaberite poslednji"
    DS_InsertAVolume,        "Molim Vas, ubacite disk %.1d"
    DS_CopyCentral,          "Central directory"
}
