#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x15, 1 // 0415
{
  DT_Language,        "PL: Polish"
        GE_NoZipSpecified, "B³¹d - nie wybrano pliku Zip, lub plik ju¿ nie istnieje!"
        GE_FatalZip,       "B³¹d krytyczny w DelZip179.DLL: wyj¹tek przerywaj¹cy"
        GE_NoMem,          "Wymagana pamiêæ nie jest dostêpna"
        GE_WrongPassword,  "B³¹d - niew³aœciwe has³a\nHas³o zignorowane"
        GE_CopyFile,       "Kopiowanie: "

        PW_UnatAddPWMiss   "B³¹d - brak has³a dla kompresji"
        PW_UnatExtPWMiss   "B³¹d - brak has³a dla rozpakowania"

        LI_ReadZipError,   "B³¹d przeszukiwania archiwum Zip!"
        LI_ErrorUnknown,   "Nieznany b³¹d w funkcji List()"
        LI_WrongZipStruct, "Ostrze¿enie - B³¹d w strukturze zip!"
        LI_GarbageAtEOF,   "Ostrze¿enie - B³êdy na koñcu archiwum Zip!"

        AD_NothingToZip,   "B³¹d - brak plików do kompresji!"
        AD_UnattPassword,  "Praca z pomijaniem zapytañ niemo¿liwa bez has³a"
        AD_NoFreshenUpdate,"Kompresuj nowsze oraz Aktualizuj archiwum niemo¿liwe dla archiwów wieloczêœciowych"

        DL_NothingToDel,   "B³¹d - brak plików do skasowania"

        EX_FatalUnZip,     "B³¹d krytyczny w DelZip179.DLL: wyj¹tek przerywaj¹cy"
        EX_UnAttPassword,  "Ostrze¿enie - Pomijanie zapytañ w czasie rozpakowania stwarza niebezpieczeñstwo pominiêcia niektórych plików"

        LD_DllLoaded,   "%s biblioteka za³adowana"
//        LZ_NoZipDllExec,   "ZipDllExec brak funkcji w bibliotece ZIPDLL.DLL!"
//        LZ_NoZipDllVers,   "GetZipDllVersion brak funkcji w bibliotece ZIPDLL.DLL!"
        LD_NoDll,       "Nie odnaleziono pliku %s!"

//        LU_UnzDllLoaded,   "UNZDLL biblioteka za³adowana!"
//        LU_NoUnzDllExec,   "UnzDllExec brak funkcji w bibliotece UNZDLL.DLL!"
//        LU_NoUnzDllVers,   "GetUnzDllVersion brak funkcji w bibliotece UNZDLL.DLL!"
//        LU_NoUnzDll,       "Nie odnaleziono pliku UNZDLL.DLL!"

        SF_StringTooLong,   "B³¹d - Ca³kowity rozmiar trzech w³aœciwoœci tekstowych przekracza 245!"
        SF_NoZipSFXBin,    "B³¹d - Nie odnaleziono pliku %s!"
        SF_InputIsNoZip,   "B³¹d: wyjœciowy plik nie jest archiwum Zip"

        CZ_NoExeSpecified, "B³¹d - nie wybrano pliku .EXE"
        CZ_InputNotExe,    "B³¹d: wyjœciowy plik nie jest w³aœciwym plikiem .EXE"
        CZ_SFXTypeUnknown, "B³¹d okreœlenia typu archiwum samorozpakowuj¹cego"

        DS_NoInFile,       "Plik wyjœciowy nie istnieje"
        DS_FileOpen,       "Nie uda³o siê otworzyæ archiwum Zip"
        DS_NotaDrive,      "Niew³aœciwy dysk: %s"
        DS_DriveNoMount,   "Dysk nie jest okreœlony: %s"
        DS_NoVolume,       "Nie uda³o siê nadaæ etykiety dysku"
        DS_NoMem,          "Brakuje pamiêci, aby pokazaæ okienko informacyjne"
        DS_Canceled,       "Operacja anulowana przez u¿ytkownika"
        DS_FailedSeek,     "B³¹d przeszukiwania w pliku wyjœciowym"
        DS_NoOutFile,      "Utworzenie pliku docelowego nie powiod³o siê"
        DS_NoWrite,        "B³¹d zapisu w pliku docelowym"
        DS_EOCBadRead,     "B³¹d odczytu koñca katalogu podstawowego (EOC)"
        DS_LOHBadRead,     "B³¹d odczytu nag³ówka lokalnego"
        DS_CEHBadRead,     "B³¹d odczytu nag³ówka podstawowego"
        DS_LOHWrongSig,    "Sygnatura nag³ówka lokalnego jest niew³aœciwa"
        DS_CEHWrongSig,    "Sygnatura nag³ówka podstawowego jest niew³aœciwa"
        DS_LONameLen,      "B³¹d odczytu lokalnej nazwy pliku"
        DS_CENameLen,      "B³¹d odczytu podstawowej nazwy pliku"
        DS_LOExtraLen,     "B³¹d odczytu dodatkowego pola lokalnego"
        DS_CEExtraLen,     "B³¹d odczytu podstawowego pola lokalnego"
        DS_DataDesc,       "B³¹d odczytu/zapisu danych przestrzeni deskryptora"
        DS_ZipData,        "B³¹d odczytu skompresowanych danych"
        DS_CECommentLen,   "B³¹d odczytu komentarza pliku"
        DS_EOArchComLen,   "B³¹d odczytu komentarza archiwum"
        DS_ErrorUnknown,   "Nieznany b³¹d w funkcji ReadSpan() lub WriteSpan()"
        DS_NoUnattSpan,    "Praca z pomijaniem zapytañ w czasie rozbijania archiwum na czêœci nie jest zaimplementowana"
        DS_EntryLost,      "Nag³ówek lokalny nie odnaleziony w strukturze wewnêtrznej"
        DS_NoTempFile,     "Nie uda³o siê utworzyæ pliku tymczasowego"
        DS_LOHBadWrite,    "B³¹d zapisu nag³ówka lokalnego"
        DS_CEHBadWrite,    "B³¹d zapisu nag³ówka podstawowego"
        DS_EOCBadWrite,    "B³¹d zapisu koñca katalogu podstawowego"
        DS_ExtWrongSig,    "B³¹d odczytu rozszerzonej sygnatury lokalnej"
        DS_NoDiskSpace,    "Wskazany dysk nie ma wystarczaj¹cej iloœci wolnej przestrzeni"
        DS_InsertDisk,     "Proszê w³o¿yæ ostatni dysk"
        DS_InsertVolume,   "Proszê w³o¿yæ dysk %.1d z %.1d"
        DS_InDrive,        "\ndo napêdu: %s"
        DS_NoValidZip,     "Ten plik nie jest w³aœciwym archiwum Zip"
        DS_FirstInSet,     "To jest pierwszy dysk z zestawu kopii zapasowej,\nproszê w³o¿yæ ostatni dysk z tego zestawu"
        DS_NotLastInSet,   "To jest %d dysk w zestawie kopii zapasowej,\nproszê w³o¿yæ ostatni dysk z tego zestawu"
        DS_AskDeleteFile,  "Plik %s ju¿ istnieje \nCzy chcesz nadpisaæ istniej¹cy plik"
        DS_AskPrevFile,    "UWAGA: To jest poprzedni dysk nr %d!!!\nCzy na pewno chcesz nadpisaæ jego zawartoœæ"
        DS_NoSFXSpan,      "B³¹d - Samorozpakowuj¹ce archiwum (.EXE) nie mo¿e byæ rozbite na wiele czêœci"
        DS_CEHBadCopy,     "B³¹d kopiowania pliku struktury CEH"
        DS_EOCBadSeek,     "B³¹d przeszukiwania w czasie pomijania struktury EOC"
        DS_EOCBadCopy,     "B³¹d kopiowania komentarza archiwum Zip"
        DS_FirstFileOnHD,  "To jest pierwszy plik z zestawu kopii zapasowej,\nproszê wybraæ ostatni plik z tego zestawu"
}
