#include "ZipMsg.h"

// Translated by Johan Lindgren (johan.lindgren@tt.se)  1999-12-01
// edited R.Peters 2005-11-27

STRINGTABLE
  LANGUAGE 0x1D, 1 // 041D
{
  DT_Language,        "SW: Swedish"
	GE_FatalZip, 		 "Fatalt fel i DelZip179.DLL: abort exception"
	GE_NoZipSpecified, "Fel - ingen zip fil specificerad!"
	GE_NoMem,			 "Önskat minnesutrymme inte tillgängligt"
	GE_WrongPassword,	 "Fel - lösenord stämmer INTE\nLösenord används ej"
	GE_CopyFile,		 "Kopierar: "

RN_ZipSFXData,           "Fel vid kopiering av SFX header"
RN_NoRenOnSpan,          "Namnbyte stöds inte för en spanned zip fil"
RN_ProcessFile,          "Bearbetar: "
RN_RenameTo,				 " namnändrad till: "

	PW_UnatAddPWMiss,	 "Fel - inget lösenord angivet för tillägg"
	PW_UnatExtPWMiss,	 "Fel - inget lösenord angivet för uppackning"
ZB_OK,				 "&Ja"
ZB_Cancel			 "&Avbryt"
PW_Caption		 	 "Lösenord"
PW_MessageEnter	 "Ange lösenord "
PW_MessageConfirm	 "Bekräfta lösenord "

CF_SourceIsDest	 "Käll- och mål-arkiv är samma!";
CF_OverwriteYN		 "Ersätt fil '%s' i '%s' ?"
CF_CopyFailed		 "Kopiering av fil från '%s' till '%s' misslyckades"
CF_SourceNotFound	 "Fil '%s' finns inte i '%s'!"
CF_SFXCopyError	 "Fel vid kopiering av SFX data"
CF_DestFileNoOpen, "Mål-arkivet kunde inte öppnas!"

	LI_ReadZipError,	 "Sök fel vid läsning av Zip arkiv!"
LI_ErrorUnknown,	 "Okänt fel i List() funktion\n"
	LI_WrongZipStruct, "Varning - Fel i zip struktur!"
	LI_GarbageAtEOF,	 "Varning - Skräp i slutet av zipfilen!"

	AD_NothingToZip,	 "Fel - inga filer att packa!"
	AD_UnattPassword,	 "Obemannad bearbetning omöjlig utan lösenord"
	AD_NoFreshenUpdate,"AddFreshen eller AddUpdate omöjligt i ett spanned arkiv"
AD_AutoSFXWrong,	 "Fel %.1d inträffade vid ett automatiskt skapande av SFX."

	DL_NothingToDel,	 "Fel - inga filer valda för radering"

	EX_FatalUnZip,		 "Fatalt fel i DelZip179.DLL: abort exception"
	EX_UnAttPassword,	 "Varning - Obemannad uppackning: Alla filer packades kanske inte upp"
//EX_NoStreamDLL,	"Fel - din UnzDLL.dll kan inte använda minnet direkt, vänligen uppgradera till version >= 1.60"

	LD_DllLoaded,	 "%s laddad"
//	LZ_NoZipDllExec,	 "ZipDllExec funktion finns inte i ZIPDLL.DLL!"
//	LZ_NoZipDllVers,	 "GetZipDllVersion funktion finns inte i ZIPDLL.DLL!"
	LD_NoDll,		 "%s hittades inte!"

//	LU_UnzDllLoaded,	 "UNZDLL laddad!"
//	LU_NoUnzDllExec,	 "UnzDllExec funktion finns inte i UNZDLL.DLL!"
//	LU_NoUnzDllVers,	 "GetUnzDllVersion funktion finns inte i UNZDLL.DLL!"
//	LU_NoUnzDll,		 "UNZDLL.DLL hittades inte!"

SF_StringTooLong,	 "Fel - En eller fler av de 4 strängarna nedanför överstiger 255 bokstäver!"
	SF_NoZipSFXBin,	 "Fel - %s hittades inte!"
	SF_InputIsNoZip,	 "Fel: filen är inte en zip fil"

	CZ_NoExeSpecified, "Fel - ingen .EXE fil specificerad"
	CZ_InputNotExe,	 "Fel: filen är inte en .EXE file"
	CZ_SFXTypeUnknown, "Fel vid bestämning av typen av SFX arkiv"

	DS_NoInFile,		 "In-filen existerar inte"
	DS_FileOpen,		 "Zip filen kunde inte öppnas"
	DS_NotaDrive,		 "Inte en godkänd enhet: %s"
 DS_DriveNoMount,	 "Enhet %s är INTE definierad"
	DS_NoVolume,		 "Volym etikett kunde inte anges"
	DS_NoMem,			 "Finns inte minne för att visa meddelande ruta"
	DS_Canceled,		 "Användaren avbröt behandlingen"
	DS_FailedSeek,		 "Sök fel i in-fil"
	DS_NoOutFile,		 "Skapande av ut-fil misslyckades"
	DS_NoWrite,			 "Skriv fel i ut-fil"
	DS_EOCBadRead,		 "Fel vid läsning av End Of Central Directory"
	DS_LOHBadRead,		 "Fel vid läsning av lokal header"
	DS_CEHBadRead,		 "Fel vid läsning av central header"
	DS_LOHWrongSig,	 "En lokal header signatur är fel"
	DS_CEHWrongSig,	 "En central header signatur är fel"
	DS_LONameLen,		 "Fel vid läsning av lokalt filnamn"
	DS_CENameLen,		 "Fel vid läsning av centralt filnamn"
	DS_LOExtraLen,		 "Fel vid läsning av lokalt extra fält"
	DS_CEExtraLen,		 "Fel vid läsning av centralt extra fält"
	DS_DataDesc,		 "Fel vid läsning/skrivning av data beskrivnings område"
	DS_ZipData,			 "Fel vid läsning av packad data"
	DS_CECommentLen,	 "Fel vid läsning av fil kommentar"
	DS_EOArchComLen,	 "Fel vid läsning av arkiv kommentar"
DS_ErrorUnknown,	 "Okänt fel i någon av funktionerna ReadSpan(), WriteSpan(), Rename() eller CopyZippedFiles()\n"
	DS_NoUnattSpan,	 "Obemannad disk spanning stöds ej"
	DS_EntryLost,		 "En lokal header hittas inte i en intern struktur"
	DS_NoTempFile,		 "Tillfällig fil kunde inte skapas"
	DS_LOHBadWrite,	 "Fel vid skrivning av lokal header"
	DS_CEHBadWrite,	 "Fel vid skrivning av central header"
	DS_EOCBadWrite,	 "Fel vid skrivning av End Of Central Directory"
	DS_ExtWrongSig,	 "Fel vid läsning av den utökade lokala signaturen"
	DS_NoDiskSpace,	 "This disk has not enough free space available"
	DS_InsertDisk,		 "Sätt in den senaste disketten"
	DS_InsertVolume,	 "Sätt in diskett med volym %.1d av %.1d"
	DS_InDrive,			 "\ni enhet: %s"
	DS_NoValidZip,		 "Det här arkivet är inte ett giltigt Zip arkiv"
	DS_FirstInSet,		 "Det här är den första disketten i en samling,\nsätt in den sista i samlingen"
	DS_NotLastInSet,	 "Det här är den %d disketten i en samling,\nsätt in den sista i samlingen"
	DS_AskDeleteFile,	 "Det finns redan en fil med namnet %s\nVill du ersätta den filen"
	DS_AskPrevFile,	 "OBS: Det här är tidigare diskett nummer %d!!!\nÄr du säker på att du vill skriva över innehållet"
	DS_NoSFXSpan,		 "Fel - Själv uppackande arkiv(.exe) kan inte delas upp"
	DS_CEHBadCopy,		 "Fel vid kopiering av ett filnamn med en CEH struktur"
	DS_EOCBadSeek,		 "Sök fel vid ignorering av EOC struktur"
	DS_EOCBadCopy,		 "Fel vid kopiering av kommentar i ett zip arkiv"
	DS_FirstFileOnHD,	 "Det här är först filen i en samling,\nsätt in den sista filen i samlingen"
DS_InsertAVolume,        "Sätt in diskett med volym %.1d"
DS_CopyCentral,          "Central katalog"
}
