#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x19, 1 // 0419
{
  DT_Language,        "RU: Russian"
  DT_Author,		      "Аркадий Шапкин"
  DT_Desc,			      "Русский"
  GE_FatalZip,        "Фатальная ошибка в модуле DelZip179.DLL: вызвано исключение аварийного завершения"
  GE_NoZipSpecified,  "Ошибка - не указано имя zip файла!"
  GE_NoMem,           "Невозможно выделить запрошенный объем памяти"
  GE_WrongPassword,   "Ошибка - пароль НЕ совпадает\nПароль проигнорирован"
  GE_CopyFile,        "Копирую: "
  GE_Except,          "Исключение в обработчики события "
  GE_Reentered,       "Сейчас занят, Инструкции могут быть потеряны!"
  GE_Busy,            " Занят, пожалуйста подождите"
  GE_Inactive,        "не активен"
  GE_RangeError,      "Индекс (%d) за границами диапозона 1..%d"
  GE_TempZip,         "Временный zip-файл: %s"
  GE_WasBusy,         "Занят + %s"
  GE_EventEx,         "Исключение в событие "
  GE_DLLAbort,        "Ошибка DLL - Прерывание"
  GE_DLLBusy,         "Ошибка DLL - Занят"
  GE_DLLCancel,       "Ошибка DLL - Отменено пользователем"
  GE_DLLMem,          "Ошибка DLL - Not enough memory"
  GE_DLLStruct,       "Ошибка DLL - Invalid structure"
  GE_DLLEvent,        "Ошибка DLL - Exception in handler "
  GE_DLLCritical,     "критическая ошибка DLL %d"
  GE_Unknown,         " Неизвестная ошибка %d"
  GE_Skipped,         "Пропущенно %s %d"

  RN_ZipSFXData,      "Ошибка при копировании заголовка SFX"
  RN_NoRenOnSpan,     "Переименование не применено для многотомного архива"
  RN_ProcessFile,     "Обрабатываю: "
  RN_RenameTo,        " переименован в: "
  RN_InvalidDateTime, "Неправильная дата/время для файла: "

  PW_UnatAddPWMiss,	  "Ошибка - не указан пароль для добавления"
  PW_UnatExtPWMiss,	  "Ошибка - не указан пароль для разархивации"
  PW_Caption,         "Пароль"
  PW_MessageEnter,    "Введите пароль "
  PW_MessageConfirm,  "Подтверждение пароля "
  PW_ForFile,         " для файла: "

  CF_SourceIsDest,    "Исходный архив находиться в той же папке что архив назначения!"
  CF_OverwriteYN,     "Перезаписать файл '%s' файлом '%s' ?"
  CF_CopyFailed,      "Копирование файл из '%s' в '%s' окончено неудачей"
  CF_SourceNotFound,  "Файл '%s' не существует в '%s'!"
  CF_SFXCopyError,    "Ошибка во время копирования SFX данных"
  CF_DestFileNoOpen,  "Zip-архив назначения не может быть открыт!"
  CF_NoCopyOnSpan,    "CopyZippedFiles не применим для многотомных zip архивов"

  LI_ReadZipError,    "Ошибка позиционирования при чтении ZIP архива!"
  LI_ErrorUnknown,    "Неизвестная ошибка в функции List()"
  LI_WrongZipStruct,  "Внимание - Ошибка в структуре zip файла!"
  LI_GarbageAtEOF,    "Внимание - мусор в конце zip файла!"
  LI_FileTooBig,      "Файл больше 4Гб"
  LI_MethodUnknown,   "Неизвестный метод сжатия"

  ZB_Yes,             "&Да"
  ZB_No,              "&Нет"
  ZB_OK,              "&ОК"
  ZB_Cancel,          "О&тмена"
  ZB_Abort,           "&Прервать"
  ZB_Retry,           "П&овторить"
  ZB_Ignore,          "П&ропуститьIgnore"
  ZB_CancelAll,       "Отменить всё"
  ZB_NoToAll,         "Нет для всех"
  ZB_YesToAll,        "Да для всех"

  AD_NothingToZip,    "Ошибка - нет файлов для архивации!"
  AD_UnattPassword,   "Попытка произвести автоматическое действие, не возможное без пароля"
  AD_NoFreshenUpdate, "Функции AddFreshen или AddUpdate не применимы для многотомных архивов"
  AD_AutoSFXWrong,    "Возникла ошибка %.1d при автоматическом создании SFX."
  AD_InIsOutStream,   "Входной поток неустановлен для выходного потока"
  AD_InvalidName,     "Шаблоны не разрешены при указание имени файла или папки"
  AD_NoDestDir,       "Папка '%s' назначения должна существовать!"

  DL_NothingToDel,    "Ошибка - не выбраны файлы для удаления"
  DL_NoDelOnSpan,     "Удаление файлов из архива не применимо для многотомных zip архивов"

  EX_FatalUnZip,      "Фатальная ошибка в модуле UnzDLL.DLL: вызвано исключение аварийного завершения"
  EX_UnAttPassword,   "Внимание - Автоматическое Извлечение: возможно, не все файлы извлечены"
  EX_NoExtrDir,       "Папка '%s' для извлечения должна существовать"

  LD_NoDll,		        "Файл %s не найден!"
  LD_BadDll,          "Немогу загрузить %s - Он старый или поврежденный"
  LD_DllLoaded,	      "%s загружена!"
  LD_DllUnloaded,     "%s выгружена"

  SF_StringTooLong,   "Ошибка - Одна или более из 4-х строк свойств, указанных ниже, больше 255 символов"
  SF_NoZipSFXBin,     "Ошибка - файл %s не найден!"
  SF_InputIsNoZip,    "Ошибка: входной файл не является zip файлом"
  SF_NoSFXSupport,    "SFX Фунции не поддерживаются"
  SF_MsgTooLong,      "SFX Строка сообщения превышает длину в 255 символов!"
  SF_DefPathTooLong,  "SFX путь по умолчанию превышает длину в 255 символов!"
  SF_DlgTitleTooLong, "SFX заголовок диалога превышает длину в 255 символов!"
  SF_CmdLineTooLong,  "SFX командная строка превышает длину в 255 символов!"
  SF_FBkPathTooLong,  "SFX запасной путь превышает длину в 255 символов!"

  CZ_NoExeSpecified,  "Ошибка - не указан .EXE файл"
  CZ_InputNotExe,     "Ошибка: входной файл не является .EXE файлом"
  CZ_SFXTypeUnknown,  "Ошибка определения типа SFX архива"
  CZ_WrongConvert,    "Могу только преобразовать ZIP в EXE или EXE в ZIP"
  CZ_UnknownHeader,   "Неизвестный формат заголовка SFX в %s"
  CZ_BrowseError,     "Ошибка во время просмотра ресурсов."
  CZ_NoExeResource,   "Ресурсы не найдены в исполнимом файле."
  CZ_ExeSections,     "Ошибка во время чтения исполнимой секции."
  CZ_NoExeIcon,       "Значки не найдены в ресурсах исполнимого файла."
  CZ_NoIcon,          "Значки не найдены."
  CZ_NoCopyIcon,      "Немогу скопировать значок."
  CZ_NoIconFound,     "Не найдено соответсвующий значок."

  DS_NoInFile,		    "Входной файл не существует"
  DS_FileOpen,		    "Zip файл не может быть открыт"
  DS_NotaDrive,	      "Неверное имя диска: %s"
  DS_DriveNoMount,	  "Устройство %s НЕ определено"
  DS_NoVolume,		    "Метка тома не может быть установлена"
  DS_NoMem,		        "Нехватает памяти для вывода окна сообщения(MsgBox)"
  DS_Canceled,		    "Пользователь отменил операцию"
  DS_FailedSeek,	    "Ошибка позиционирования во входном файле"
  DS_NoOutFile,	      "Ошибка создания выходного файла"
  DS_NoWrite,		      "Ошибка записи в выходной файл"
  DS_EOCBadRead,	    "Ошибка при чтении конца родительского каталога"
  DS_LOHBadRead,	    "Ошибка при чтении локального заголовка"
  DS_CEHBadRead,	    "Ошибка при чтении центрального заголовка"
  DS_LOHWrongSig,	    "Сигнатура локального заголовка неверна"
  DS_CEHWrongSig,	    "Сигнатура центрального заголовка неверна"
  DS_LONameLen,	      "Ошибка при чтении локального имени файла"
  DS_CENameLen,	      "Ошибка при чтении центрального имени файла"
  DS_LOExtraLen,	    "Ошибка при чтении локального дополнительного поля"
  DS_CEExtraLen,	    "Ошибка при чтении центрального дополнительного поля"
  DS_DataDesc,		    "Ошибка при чтении/записи области описания данных"
  DS_ZipData,		      "Ошибка при чтении упакованных данных"
  DS_CECommentLen,	  "Ошибка при чтении комментарий к файлу"
  DS_EOArchComLen,	  "Ошибка при чтении комментарий к архиву"
  DS_ErrorUnknown,	  "Неизвестная ошибка в функции ReadSpan() или WriteSpan()"
  DS_NoUnattSpan,	    "Автоматическое разбиение архива на тома не применимо"
  DS_EntryLost,	      "Локальный заголовок не найден во внутренней структуре"
  DS_NoTempFile,	    "Невозможно создать времменый файл"
  DS_LOHBadWrite,	    "Ошибка при записи локального заголовка"
  DS_CEHBadWrite,	    "Ошибка при записи центрального заголовка"
  DS_EOCBadWrite,	    "Ошибка при записи конца родительского каталога"
  DS_ExtWrongSig,	    "Ошибка при чтении Расширенной Локальной Сигнатуры"
  DS_NoDiskSpace,	    "На этом диске не хватает свободного места"
  DS_InsertDisk,	    "Вставьте последний диск"
  DS_InsertVolume,	  "Вставьте диск %.1d из %.1d"
  DS_InDrive,		      "\nв устройство: %s"
  DS_NoValidZip,	    "Данный архив не является Zip архивом"
  DS_FirstInSet,	    "Это первый диск в резервном наборе,\nвставьте последний диск из этого набора"
  DS_NotLastInSet,	  "Это %d-й диск в резервном наборе,\nвставьте последний диск из этого набора"
  DS_AskDeleteFile,	  "Файл %s уже существует\nВы хотите переписать этот файл?"
  DS_AskPrevFile,	    "ВНИМАНИЕ: Это предыдущий диск, не %d!!!\nВы уверены, что нужно перезаписать содержимое?"
  DS_NoSFXSpan,	      "Ошибка - самораспаковывающиеся (.exe) архивы не могут быть многотомными"
  DS_CEHBadCopy,	    "Ошибка при копировании имени файла CEH структуры"
  DS_EOCBadSeek,	    "Ошибка позиционирования при пропуске EOC структуры"
  DS_EOCBadCopy,	    "Ошибка при копировании комментарий zip архива"
  DS_FirstFileOnHD,	  "Это первый файл в резервном наборе,\nвыберите последний файл из этого набора"
  DS_InsertAVolume,   "Вставьте диск %.1d"
  DS_CopyCentral,     "Главный каталог"
  DS_NoDiskSpan,      "Многотомное архивирование не поддерживается"
  DS_UnknownError,    "Неизвестная ошибка"
  DS_NoRenamePart,    "Последняя часть была : %s"
  DS_NotChangeable,   "Немогу записать в %s"

  FM_Erase,           "Стиреть %s"
  FM_Confirm,         "Подтверждение"

  ED_SizeTooLarge,    "Размер FileExtraData больше чем доступный архив"

  CD_NoCDOnSpan,      "ChangeFileDetails не применим для многотомных zip архивов"
  CD_NoEventHndlr,    "Не указан обработчик события для изменения свойств файла"
  CD_LOExtraLen,      "Ошибка вовремя записи локальных дополнительных полей"
  CD_CEExtraLen,      "Ошибка вовремя записи центральных дополнительных полей"
  CD_CEComLen,        "Ошибка вовремя записи коментарий файла"
  CD_CEHDataSize,     "Суммарная длина CEH + FileName + FileComment + ExtraData первышает 65535"
  CD_Changing,        "Изменение свойств: "
  CD_DuplFileName,    "Дублированное имя файла: %s"
  CD_NoProtected,     "Немогу изменить свойства зашифрованного файла"
  CD_InvalidFileName, "Неправильное имя файла: '%s'"
  CD_NoChangeDir,     "Немогу изменить путь"
  CD_FileSpecSkip,    "Спецификация файла '%s' пропущена"

  DU_InvalidName,     "Неправильное имя '%s'"
  DU_WrongMethod,     "неподдерживоемое сжатие для '%s'"

  PR_Archive,         "*Повторное установка бита Архивирован"
  PR_CopyZipFile,     "*Копирование Zip файла"
  PR_SFX,             "*SFX"
  PR_Header,          "*??"
  PR_Finish,          "*Завершение"
  PR_Copying,         "*Копирование"
  PR_CentrlDir,       "*Центральная каталог"
  PR_Checking,        "*Проверка"
  PR_Loading,         "*Загрузка каталога"
  PR_Joining,         "*Объеденение разбитого zip файла"
  PR_Splitting,       "*Разбиение zip файла"

  DZ_Skipped,         "Спецификация файла '%s' пропущена"
  DZ_InUse,           "Немогу открыть, файл '%s' уже используется"
  DZ_Refused,         "не разрешено открыть '%s'"
  DZ_NoOpen,          "Немогу открыть '%s'"
  DZ_NoFiles,         "файлы не найдены"
  DZ_SizeChanged,     "размер '%s' изменился"
  DZ_InvalidName,     "'%s' это неправильное имя"
  DZ_TooBig,          "файл сильно большой"

  WZ_DropDirOnly,     "Пропускаем %d записи пустых папок"
  WZ_NothingToWrite,  "Нечего писать"

  TM_Erasing,         "Очистка дискеты - Стирание %s"
  TM_Deleting,        "Очистка дискеты - Удаление %s"
  TM_GetNewDisk,      "Трассировка : GetNewDisk открывает: %s"
  TM_SystemError,     "Системная ошибка: %d"
}
