#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x08, 1 // 0408
{
  DT_Language,        "GR: Greek"
        GE_NoZipSpecified, "СнсвгШ! - ГЬд ПижйЫариайлЮбЬ бШдтдШ Zip ШиоЬхж!"
        GE_FatalZip,       "АЫациЯжлж йнсвгШ йлж DelZip179.DLL: ШбчирйЮ ЬеШхиЬйЮк"
        GE_NoMem,          "ГЬд мзсиоЬа Ю ШзШалжчгЬдЮ гдугЮ"
        GE_WrongPassword,  "СнсвгШ! - О ЙрЫабцк ЫЬд лШаиасЭЬа\nО ЙрЫабцк ШЪджЬхлШа"
        GE_CopyFile,       "АдланШну: "

        PW_UnatAddPWMiss   "СнсвгШ! - ГЬд ЫцЯЮбЬ брЫабцк зижйЯубЮк"
        PW_UnatExtPWMiss   "СнсвгШ! - ГЬд ЫцЯЮбЬ брЫабцк ЬеШЪрЪук"

        LI_ReadZipError,   "КсЯжк ШдШЭулЮйЮк ГаШЩсЭждлШк лж Zip АиоЬхж!"
        LI_ErrorUnknown,   "ъЪдрйлж всЯжк йлЮд КЬалжмиЪхШ List()"
        LI_WrongZipStruct, "Пижйжоу! - КсЯжк йлЮд Ыжгу лжм Zip!"
        LI_GarbageAtEOF,   "Пижйжоу! - СбжмзхЫаШ йлж лтвжк лжм Zip АиоЬхжм!"

        AD_NothingToZip,   "СнсвгШ! - ГЬд мзсиожмд ШиоЬхШ йлж zip!"
        AD_UnattPassword,  "Ж АймдцЫЬмлЮ зисеЮ орихк ЙрЫабцк ЫЬд ЬхдШа ЫмдШлу"
        AD_NoFreshenUpdate,"AddFreshen у AddUpdate ЫЬд ЬхдШа ЫмдШлу йЬ spanned ШиоЬхж"

        DL_NothingToDel,   "СнсвгШ! - ГЬд мзсиожмд ЫаШвЬЪгтдШ ШиоЬхШ ЪаШ ЫаШЪиШну"

        EX_FatalUnZip,     "АЫациЯжлж СнсвгШ йлж DelZip179.DLL: ШбчирйЮ ЬеШхиЬйЮк"
        EX_UnAttPassword,  "Пижйжоу! - АймдцЫЬмлЮ ДеШЪрЪу: гзжиЬх дШ гЮд ЬеШЪуЯжмд цвШ лШ ШиоЬхШ"

        LD_DllLoaded,   "%s ФжилщЯЮбЬ"
 //       LZ_NoZipDllExec,   "Ж вЬалжмиЪхШ ZipDllExec ЫЬд ЩитЯЮбЬ йлж ZIPDLL.DLL!"
 //       LZ_NoZipDllVers,   "Ж вЬалжмиЪхШ GetZipDllVersion ЫЬд ЩитЯЮбЬ йлж ZIPDLL.DLL!"
        LD_NoDll,       "ГЬд ЩитЯЮбЬ лж ШиоЬхж %s!"

//        LU_UnzDllLoaded,   "UNZDLL ФжилщЯЮбЬ"
//        LU_NoUnzDllExec,   "Ж вЬалжмиЪхШ UnzDllExec ЫЬд ЩитЯЮбЬ йлж UNZDLL.DLL!"
//        LU_NoUnzDllVers,   "Ж вЬалжмиЪхШ GetUnzDllVersion ЫЬд ЩитЯЮбЬ йлж UNZDLL.DLL!"
//        LU_NoUnzDll,       "ГЬд ЩитЯЮбЬ лж ШиоЬхж UNZDLL.DLL!"

        SF_StringTooLong,   "СнсвгШ! - ГЬд ЫаШвтблЮбШд ШиоЬхШ ЪаШ ЫаШЪиШну - Тж ймджвабц гтЪЬЯжк лрд (3)лиащд бЬагтдрд зЬиажмйащд еЬзЬидс лШ 245!"
        SF_NoZipSFXBin,    "СнсвгШ! - ГЬд ЩитЯЮбЬ лж ШиоЬхж %s!"
        SF_InputIsNoZip,   "СнсвгШ!: Тж ЬайЬиоцгЬдж ШиоЬхж ЫЬд ЬхдШа Zip"

        CZ_NoExeSpecified, "СнсвгШ! - ГЬд жихйлЮбЬ ШиоЬхж .EXE"
        CZ_InputNotExe,    "СнсвгШ!: Тж ЬайЬиоцгЬдж ШиоЬхж ЫЬд ЬхдШа .EXE"
        CZ_SFXTypeUnknown, "СнсвгШ! бШЯжиайгтджк ШиоЬхж лчзжм Шзц SFX"

        DS_NoInFile,       "Тж ЬайЬиоцгЬдж ШиоЬхж ЫЬд мзсиоЬа"
        DS_FileOpen,       "Тж ШиоЬхж Zip ЫЬд гзжиЬх дШ Шджаблу"
        DS_NotaDrive,      "ЛЮ тЪбмижк жЫЮЪцк : %s"
        DS_DriveNoMount,   "ЛЮ бШЯжиайгтджк жЫЮЪцк: %s"
        DS_NoVolume,       "Тж гтЪЬЯжк ЬлабтлШк ЫЬд гзжиЬх дШ ЯЬлЮЯЬх"
        DS_NoMem,          "ГЬд мзсиоЬа ШибЬлу гдугЮ дШ зШижмйаШйлЬх лж MsgBox"
        DS_Canceled,       "АбчирйЮ Шзц лжд оиуйлЮ"
        DS_FailedSeek,     "СнсвгШ ШдШЭулЮйЮк йлж ШиоЬхж ЬайШЪрЪук"
        DS_NoOutFile,      "ГЮгажмиЪхШ ЬеШЪцгЬджм ШиоЬхжм ШзжлмоЮгтдЮ"
        DS_NoWrite,        "СнсвгШ ЬЪЪиШнук йлж ЬеШЪцгЬдж ШиоЬхж"
        DS_EOCBadRead,     "СнсвгШ ШдШЪдщиайЮк йлж лтвжк лжм бЬдлиабжч бШлШвцЪжм"
        DS_LOHBadRead,     "СнсвгШ ШдШЪдщиайЮк йлЮд лжзабу ЬзабЬнШвхЫШ"
        DS_CEHBadRead,     "СнсвгШ ШдШЪдщиайЮк йлЮд бЬдлиабу ЬзабЬнШвхЫШ"
        DS_LOHWrongSig,    "Ж мзжЪиШну лЮк лжзабук ЬзабЬнШвхЫШк ЬхдШа вШдЯШйгтдЮ"
        DS_CEHWrongSig,    "Ж мзжЪиШну лЮк бЬдлиабук ЬзабЬнШвхЫШк ЬхдШа вШдЯШйгтдЮ"
        DS_LONameLen,      "СнсвгШ ШдШЪдщиайЮк йлж лжзабц ШиоЬхж"
        DS_CENameLen,      "СнсвгШ ШдШЪдщиайЮк йлж бЬдлиабц ШиоЬхж"
        DS_LOExtraLen,     "СнсвгШ ШдШЪдщиайЮк йлж лжзабц зицйЯЬлж зЬЫхж"
        DS_CEExtraLen,     "СнсвгШ ШдШЪдщиайЮк йлж бЬдлиабц зицйЯЬлж зЬЫхж"
        DS_DataDesc,       "СнсвгШ ШдШЪдщиайЮк/ЬЪЪиШнук йлЮд зЬиажоу ЫаШбиалщд ЫЬЫжгтдрд"
        DS_ZipData,        "СнсвгШ ШдШЪдщиайЮк йлШ ймгзаЬйгтдШ ЫЬЫжгтдШ"
        DS_CECommentLen,   "СнсвгШ ШдШЪдщиайЮк йлж ШиоЬхж зШиШлЮиуйЬрд"
        DS_EOArchComLen,   "СнсвгШ ШдШЪдщиайЮк йлж ШиоЬхж зШиШлЮиуйЬрд"
        DS_ErrorUnknown,   "ъЪдрйлж СнсвгШ йлЮд вЬалжмиЪхШ ReadSpan() у WriteSpan()"
        DS_NoUnattSpan,    "АдЬзхЩвЬзлЮ ЫаШощиайЮ ЫайбтлШк ЫЬд тоЬа мвжзжаЮЯЬх"
        DS_EntryLost,      "Ж лжзабу ЬзабЬнШвхЫШ ЫЬд ЩитЯЮбЬ йлЮ ЬйрлЬиабу Ыжгу"
        DS_NoTempFile,     "АЫчдШлЮ ЫЮгажмиЪхШ зижйриаджч ШиоЬхжм"
        DS_LOHBadWrite,    "СнсвгШ ЬЪЪиШнук йлЮд лжзабу ЬзабЬнШвхЫШ"
        DS_CEHBadWrite,    "СнсвгШ ЬЪЪиШнук йлЮд бЬдлиабу ЬзабЬнШвхЫШ"
        DS_EOCBadWrite,    "СнсвгШ ЬЪЪиШнук йлж лтвжк лжм бЬдлиабжч бШлШвцЪжм"
        DS_ExtWrongSig,    "СнсвгШ ШдШЪдщиайЮк йлЮд ЬзЬблШгтдЮ лжзабу мзжЪиШну"
        DS_NoDiskSpace,    "ГЬд мзсиоЬа ж ШзШиШхлЮлжк ощижк йлжд Ыхйбж"
        DS_InsertDisk,     "ПШиШбШвщ ЬайсЪЬлШа лЮд лЬвЬмлШхШ ЫайбтлШ"
        DS_InsertVolume,   "ПШиШбШвщ ЬайсЪЬлШа лЮд ЫайбтлШ гЬЪтЯжмк %.1d of %.1d"
        DS_InDrive,        "\nСлжд жЫЮЪц: %s"
        DS_NoValidZip,     "Тж ШиоЬхж ЫЬд ЬхдШа тЪбмиж Zip"
        DS_FirstInSet,     "Ж ЫайбтлШ ЬхдШа Ю зищлЮ лжм тнЬЫижм ШдлхЪиШнжм,\nПШиШбШвщ ЬайсЪЬлШа лЮд лЬвЬмлШхШ ЫайбтлШ"
        DS_NotLastInSet,   "Ж ЫайбтлШ ЬхдШа Ю %dth лжм тнЬЫижм ШдлхЪиШнжм,\nПШиШбШвщ ЬайсЪЬлШа лЮд лЬвЬмлШхШ ЫайбтлШ"
        DS_AskDeleteFile,  "Тж ШиоЬхж %s мзсиоЬа уЫЮ!\nЯтвЬлШа дШ ЫаШЪиШну"
        DS_AskPrevFile,    "ПРОСОХь: Амлу Ю ЫайбтлШ ЬхдШа Мж %d!!!\nДхйлЬ йхЪжмижк ЪаШ лЮд ЫаШЪиШну лЮк"
        DS_NoSFXSpan,      "СнсвгШ - АмлцгШлЮк ЬеШЪрЪук ШиоЬхШ(.exe) ЫЬд гзжижчд дШ ЫаШориайлжчд"
        DS_CEHBadCopy,     "СнсвгШ ШдлаЪиснждлШк тдШ ШиоЬхж гЬ Ыжгу CEH"
        DS_EOCBadSeek,     "СнсвгШ ШдШЭулЮйЮк зижйзШЯщдлШк дШ ШзжиианлЬх Ю Ыжгу EOC"
        DS_EOCBadCopy,     "СнсвгШ ШдлаЪиШнук йоцважм йлж ШиоЬхж Zip"
        DS_FirstFileOnHD,  "Тж ШиоЬхж ЬхдШа лж зищлж лжм тнЬЫижм ШдлхЪиШнжм,\nПШиШбШвщ ЫаШвтелЬ лж лЬвЬмлШхж ШиоЬхж"
}

// Done By : Babis Michail


