#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x0C, 1 // 040C
{
  DT_Language,        "FR: French"
	GE_FatalZip, 		 "Erreur fatale dans DelZip179.DLL: exception d'arrêt"
	GE_NoZipSpecified, "Erreur - Aucune archive ZIP n'a été spécifiée!"
	GE_NoMem,			 "Mémoire insuffisante"
	GE_WrongPassword,	 "Erreur - mots de passe différents\nMot de passe ignoré"
	GE_CopyFile,		 "Copie en cours: "

	PW_UnatAddPWMiss,	 "Erreur - aucun mot de passe donné pour l'ajout de fichiers"
	PW_UnatExtPWMiss,	 "Erreur - aucun mot de passe donné pour l'extraction de fichiers"
ZB_OK,				 "&Ok"
ZB_Cancel,			 "&Annuler"
PW_Caption,		 	 "Mot de Passe"
PW_MessageEnter,	 "Entrer le Mot de Passe "
PW_MessageConfirm, "Confirmer le Mot de Passe "
ZB_CancelAll,		 "Annuler Tout"
ZB_Abort,			 "Avorter"
PW_ForFile,			 " au fichier: "

CF_SourceIsDest,	 "L'Archive source est la même que l'archive destination!"
CF_OverwriteYN,	 "Écraser le fixhier '%s' dans '%s' ?"
CF_CopyFailed,		 "Erreur de copie du fichier '%s' à '%s'"
CF_SourceNotFound, "Le fichier '%s' n'est pas présent dans '%s'!"
CF_SFXCopyError,	 "Erreur durant la copie des données SFX"
CF_DestFileNoOpen, "Le fichier d'archive de destination ne peut être ouvert!"
CF_NoCopyOnSpan, "CopyZippedFiles n'est pas mis en application pour un dossier enjambé de fermeture éclair."

	LI_ReadZipError,	 "Erreur de positionnement lors de la lecture de l'archive ZIP"
	LI_ErrorUnknown,	 "Erreur de type inconnu intervenue dans la méthode List()"
	LI_WrongZipStruct, 	 "Avertissement - La structure de l'archive est erronnée!"
	LI_GarbageAtEOF,	 "Avertissement - Symbols incorrects à la fin du fichier ZIP!"

	AD_NothingToZip,	 "Erreur - aucun fichier à compresser!"
	AD_UnattPassword,	 "Action sans surveillance impossible à accomplir sans mot de passe"
	AD_NoFreshenUpdate,	 "Les fonctions de rafraîchissement (AddFreshen) et de mise à jour (AddUpdate) ne sont pas possibles sur une archive fragmentée"

	DL_NothingToDel,	 "Erreur - Aucun fichier n'est sélectionné pour effacement"

	EX_FatalUnZip,		 "Erreur fatale dans DelZip179.DLL: exception d'arrêt"
	EX_UnAttPassword,	 "Avertissement - Extraction effectuée sans surveillance: il est possible que certains fichiers n'aient pas été extraits"

	LD_DllLoaded,	 "%s chargée"
//	LZ_NoZipDllExec,	 "ZipDllExec : fonction introuvable dans ZIPDLL.DLL!"
//	LZ_NoZipDllVers,	 "GetZipDllVersion : fonction introuvable dans ZIPDLL.DLL!"
	LD_NoDll,		 "%s : librairie introuvable!"
	LD_BadDll,	"A tenté de charger vieux %s de "
//	LU_OldUnzDll,	"A tenté de charger vieux UnzDll de "

//	LU_UnzDllLoaded,	 "UNZDLL chargée!"
//	LU_NoUnzDllExec,	 "UnzDllExec : fonction introuvable dans UNZDLL.DLL!"
//	LU_NoUnzDllVers,	 "GetUnzDllVersion : fonction introuvable dans UNZDLL.DLL!"
//	LU_NoUnzDll,		 "UNZDLL.DLL : librairie introuvable!"

	SF_StringTooLong,	 "Erreur - La taille totale des 3 propriétés de type texte dépasse 245 octets!"
	SF_NoZipSFXBin,	 "Erreur - %s : exécutable introuvable!"
	SF_InputIsNoZip,	 "Erreur: le fichier d'entrée n'a pas un format ZIP valide"
	SF_NoSFXSupport,	"SFX ne fonctionne pas soutenu"

	CZ_NoExeSpecified, "Erreur - aucun fichier d'extension .EXE n'a été spécifié"
	CZ_InputNotExe,	 "Erreur: le fichier d'entrée n'est pas un fichier exécutable .EXE"
	CZ_SFXTypeUnknown, "Erreur: Impossible de déterminer le type de l'archive SFX"
DL_NoDelOnSpan, "Des dossiers d'effacement des archives n'est pas mis en application pour un dossier enjambé de fermeture éclair."
	DS_NoInFile,		 "Le fichier spécifié en entrée n'existe pas"
	DS_FileOpen,		 "Le fichier Zip n'a pas pu être ouvert"
	DS_NotaDrive,		 "Lecteur non valide: %s"
	DS_DriveNoMount,	 "Lecteur non défini: %s"
	DS_NoVolume,		 "Le nom de volume n'a pas pu être attribué"
	DS_NoMem,			 "Mémoire insuffisante pour afficher la boîte de dialogue (MsgBox)"
	DS_Canceled,		 "Opération annulée par l'utilisateur"
	DS_FailedSeek,		 "Erreur de positionnement dans le fichier d'entrée"
	DS_NoOutFile,		 "Erreur de création du fichier de sortie"
	DS_NoWrite,			 "Erreur d'écriture sur le fichier de sortie"
	DS_EOCBadRead,		 "Erreur de lecture de la fin du répertoire central"
	DS_LOHBadRead,		 "Erreur de lecture d'un en-tête local"
	DS_CEHBadRead,		 "Erreur de lecture d'un en-tête central"
	DS_LOHWrongSig,	 "La signature d'un en-tête local est erronnée"
	DS_CEHWrongSig,	 "La signature d'un en-tête central est erronée"
	DS_LONameLen,		 "Erreur de lecture d'un nom de fichier local"
	DS_CENameLen,		 "Erreur de lecture d'un nom de fichier central"
	DS_LOExtraLen,		 "Erreur de lecture d'un champ local complémentaire"
	DS_CEExtraLen,		 "Erreur de lecture d'un champ central complémentaire"
	DS_DataDesc,		 "Erreur d'accés en lecture/écriture de la zone du descripteur de données"
	DS_ZipData,			 "Erreur de lecture des données compressées"
	DS_CECommentLen,	 "Erreur de lecture de commentaire de fichier"
	DS_EOArchComLen,	 "Erreur d'écriture de commentaire d'archive"
	DS_ErrorUnknown,	 "Erreur inattendue dans les fonctions ReadSpan() ou WriteSpan()"
	DS_NoUnattSpan,	 "L'écriture d'archive sans surveillance sur plusieurs disques n'est pas supportée"
	DS_EntryLost,		 "En-tête local introuvable dans la structure interne de l'archive"
	DS_NoTempFile,		 "Le fichier temporaire n'a pu être créé"
	DS_LOHBadWrite,	 "Erreur d'écriture d'un en-tête local"
	DS_CEHBadWrite,	 "Erreur d'écriture de l'en-tête central"
	DS_EOCBadWrite,	 "Erreur lors de l'écriture de la fin du répertoire central"
	DS_ExtWrongSig,	 "Erreur de lecture de la signature locale étendue"
	DS_NoDiskSpace,	 "Espace disque insuffisant sur le disque sélectionné"
	DS_InsertDisk,		 "Insérer le dernier disque"
	DS_InsertVolume,	 "Insérer le volume n°%.1d sur %.1d"
	DS_InDrive,			 "\ndans le lecteur: %s"
	DS_NoValidZip,		 "L'archive sélectionnée n'a pas un format ZIP correct"
	DS_FirstInSet,		 "Ceci est le premier disque d'une sauvegarde,\ninsérer le dernier disque"
	DS_NotLastInSet,	 "Ceci est le %dème disque d'une sauvegarde,\ninsérer le dernier disque"
	DS_AskDeleteFile,	 "Un fichier %s est déjà présent.\nEtes-vous sûr de vouloir écraser ce fichier"
	DS_AskPrevFile,	 "ATTENTION: Le disque actuellement inséré est le disque n°%d!!!\nEtes-vous sûr de vouloir écraser son contenu"
	DS_NoSFXSpan,		 "Erreur - Les archives auto-extractibles (.exe) ne peuvent être fragmentées"
	DS_CEHBadCopy,		 "Erreur de copie du nom de fichier de la structure CEH"
	DS_EOCBadSeek,		 "Erreur de positionnement lors de l'omission de la structure EOC"
	DS_EOCBadCopy,		 "Erreur de copie du commentaire de l'archive ZIP"
	DS_FirstFileOnHD,	 "Ceci est le premier fichier d'une sauvegarde,\nsélectionner le dernier fichier"
	DS_NoDiskSpan,	"Le Traverser de disque n'a pas soutenu"
}
