#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x06, 1 // 0406
{
  DT_Language,        "DK: Danish"
	GE_FatalZip, 		 "Fatal Fejl i DelZip179.DLL: Handling stoppet"
	GE_NoZipSpecified, "Fejl - ingen zipfil valgt!"
	GE_NoMem,			 "Ikke hukommelse nok"
	GE_WrongPassword,	 "Fejl - kodeord passer IKKE\nKodeord ignoreret"
	GE_CopyFile,		 "Kopierer: "

RN_ZipSFXData,           "Fejl opstod under kopiering af SFX header"
RN_NoRenOnSpan,          "Omdøb er ikke implementeret for zipfiler der består af flere filer"
RN_ProcessFile,          "Arbejder: "
RN_RenameTo,				 " omdøbt til: "

	PW_UnatAddPWMiss,	 "Fejl - intet kodeord angivet"
	PW_UnatExtPWMiss,	 "Fejl - intet udpakningskodeord angivet"
ZB_OK,				 "&Ok"
ZB_Cancel,			 "&Afbryd"
PW_Caption,		 	 "Kodeord"
PW_MessageEnter,	 "Indtast kodeord "
PW_MessageConfirm, "Gentag kodeord "
ZB_CancelAll,		 "Afbryd alle"
ZB_Abort,			 "Afbryd"
PW_ForFile,			 " for fil: "


CF_SourceIsDest,	 "Kilde er den samme som destination!"
CF_OverwriteYN,	 "Overskriv fil '%s' i '%s' ?"
CF_CopyFailed,		 "Kopiering af fil fra '%s' til '%s' fejlede"
CF_SourceNotFound, "Filen '%s' findes ikke i '%s'!"
CF_SFXCopyError,	 "Fejl opstod ved kopiering af SFX data"
CF_DestFileNoOpen, "Destinations zipfil kunne ikke åbnes!"

	LI_ReadZipError,	 "Søgefejl under læsning af zipfil!"
LI_ErrorUnknown,	 "Ukendt fejl i List() funktion\n"
	LI_WrongZipStruct, "Advarsel - Fejl i zip struktur!"
	LI_GarbageAtEOF,	 "Advarsel - Ukendt data i slutningen af zipfilen!"

	AD_NothingToZip,	 "Fejl - ingen filer valgt!"
	AD_UnattPassword,	 "Denne handling er ikke mulig uden kodeord"
	AD_NoFreshenUpdate,"AddFreshen eller AddUpdate er ikke mulig ved delte zipfiler"
AD_AutoSFXWrong,	 "Fejl %.1d opstod ved Auto SFX dannelse."
//AD_NoStreamDLL,	 "Fejl - ZipDLL.dll kan ikke bruge streams, opdater venligst til version >= 1.60"
AD_InIsOutStream,	 "Input stream kan ikke sættes til output stream"
AD_InvalidName,	 "Wildcards er ikke tilladt i filnavn eller fil specifikation"

	DL_NothingToDel,	 "Fejl - ingen filer markeret til sletning"

	EX_FatalUnZip,		 "Fatal Fejl i DelZip179.DLL: Handling stoppet"
	EX_UnAttPassword,	 "Advarsel - Udpakning: Alle filer blev muligvis ikke udpakker"
//EX_NoStreamDLL,	"Fejl - din UnzDLL.dll kan ikke bruge streams, opdater venligst til version >= 1.60"


	LD_DllLoaded,	 "%s Loaded"
//	LZ_NoZipDllExec,	 "ZipDllExec funktion ikke fundet i ZIPDLL.DLL!"
//	LZ_NoZipDllVers,	 "GetZipDllVersion funktion ikke fundet i ZIPDLL.DLL!"
	LD_NoDll,		 "%s ikke fundet!"

//	LU_UnzDllLoaded,	 "UNZDLL Loaded!"
//	LU_NoUnzDllExec,	 "UnzDllExec funktion ikke fundet i UNZDLL.DLL!"
//	LU_NoUnzDllVers,	 "GetUnzDllVersion funktion ikke fundet i UNZDLL.DLL!"
//	LU_NoUnzDll,		 "UNZDLL.DLL ikke fundet!"

SF_StringTooLong,	 "Fejl - En eller flere af de 4 nedenstående tekster overstiger 255 karakterer!"
	SF_NoZipSFXBin,	 "Fejl - %s ikke fundet!"
	SF_InputIsNoZip,	 "Fejl: input fil er ikke en zipfil"

	CZ_NoExeSpecified, "Fejl - ingen .EXE fil specificeret"
	CZ_InputNotExe,	 "Fejl: input fil er ikke en .EXE fil"
	CZ_SFXTypeUnknown, "Fejl ved bestemmelse af SFX filtype"

	DS_NoInFile,		 "Input fil findes ikke"
	DS_FileOpen,		 "Zipfil kunne ikke åbnes"
	DS_NotaDrive,		 "Ikke et validt drev: %s"
 DS_DriveNoMount,	 "Drev %s er IKKE defineret"
	DS_NoVolume,		 "Volume label kunne ikke sættes"
	DS_NoMem,			 "Ikke hukommelse nok til at vise MsgBox"
	DS_Canceled,		 "Operation afbrudt af bruger"
	DS_FailedSeek,		 "Søge fejl i input fil"
	DS_NoOutFile,		 "Dannelse af output fil fejlede"
	DS_NoWrite,			 "Skrive fejl i output fil"
	DS_EOCBadRead,		 "Fejl ved læsning af End Of Central Directory"
	DS_LOHBadRead,		 "Fejl ved læsning af lokal header"
	DS_CEHBadRead,		 "Fejl ved læsning af central header"
	DS_LOHWrongSig,	 "En lokal header signatur er forkert"
	DS_CEHWrongSig,	 "En central header signatur er forkert"
	DS_LONameLen,		 "Fejl ved læsning af lokalt filnavn"
	DS_CENameLen,		 "Fejl ved læsning af centralt filnavn"
	DS_LOExtraLen,		 "Fejl ved læsning af lokal ekstra felt"
	DS_CEExtraLen,		 "Fejl ved læsning af centralt ekstra felt"
	DS_DataDesc,		 "Fejl ved læsning/skrivning af data descriptor område"
	DS_ZipData,			 "Fejl ved læsning af zipped data"
	DS_CECommentLen,	 "Fejl ved læsning af fil kommentar"
	DS_EOArchComLen,	 "Fejl ved læsning af fil kommentar"
DS_ErrorUnknown,	 "Ukendt fejl i funktion ReadSpan(), WriteSpan(), Rename() or CopyZippedFiles()\n"
	DS_NoUnattSpan,	 "Uovervåget delning af zipfiler ikke implementeret"
	DS_EntryLost,		 "En lokal header ikke fundet i intern struktur"
	DS_NoTempFile,		 "Temporær fil kunne ikke dannes"
	DS_LOHBadWrite,	 "Fejl ved skriv af lokal header"
	DS_CEHBadWrite,	 "Fejl ved skriv af central header"
	DS_EOCBadWrite,	 "Fejl ved skriv af End Of Central Directory"
	DS_ExtWrongSig,	 "Fejl ved skriv af Extended Local signature"
	DS_NoDiskSpace,	 "Denne disk har ikke nok fri plads"
	DS_InsertDisk,		 "Indsæt venligst sidste disk"
	DS_InsertVolume,	 "Indsæt venligst disk volume %.1d af %.1d"
	DS_InDrive,			 "\ni drev: %s"
	DS_NoValidZip,		 "Denne fil er ikke en valid Zipfil"
	DS_FirstInSet,		 "Dette er den første diskette i et backup sæt,\nindsæt venligst den sidste diskette i dette sæt"
	DS_NotLastInSet,	 "Dette er den %d. diskette i et backup sæt,\nIndsæt venligst den sidste diskette i dette sæt"
	DS_AskDeleteFile,	 "Der er allerede en fil ved navn %s\nVil du overskrive denne fil"
	DS_AskPrevFile,	 "BEMÆRK: Dette er den forrige diskette %d!!!\nVil du overskrive indholdet"
	DS_NoSFXSpan,		 "Fejl - Selvudpakkende filer(.exe) kan ikke deles"
	DS_CEHBadCopy,		 "Fejl ved kopiering af filnavn på en CEH struktur"
	DS_EOCBadSeek,		 "Søgefejl ved skipping af EOC struktur"
	DS_EOCBadCopy,		 "Fejl ved kopiering af zipfil kommentar"
	DS_FirstFileOnHD,	 "Dette er den første fil i et backup sæt,\nIndsæt venligst den sidste diskette!"
DS_InsertAVolume,        "Indsæt venligst diskette %.1d"
DS_CopyCentral,          "Centralt katalog"
}
