#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x10, 1 // 0410
{
  DT_Language,        "IT: Italian"
        GE_NoZipSpecified, "Errore - Non Š stato specificato nessun file Zip!"
        GE_FatalZip,       "Errore fatale in DelZip179.DLL: eccezione abortiva"
        GE_NoMem,          "Memoria richiesta non disponibile"
        GE_WrongPassword,  "Errore - password NON accetata\nPassword ignorata"
        GE_CopyFile,       "Copia di: "

        PW_UnatAddPWMiss   "Errore - manca la password di aggiunta dei file"
        PW_UnatExtPWMiss   "Errore - manca la password di estrazione dei file"

        LI_ReadZipError,   "Errore di ricerca leggendo l'archvio Zip!"
        LI_ErrorUnknown,   "Errore sconoscuto nella funzione List()"
        LI_WrongZipStruct, "Attenzione - Errore nella struttura zip!"
        LI_GarbageAtEOF,   "Attenzione - Dati errati alla fine del file zip!"

        AD_NothingToZip,   "Errore - nessun file da comprimere!"
        AD_UnattPassword,  "Azione impossibile da eseguire senza una password"
        AD_NoFreshenUpdate,"AddFreshen o AddUpdate impossibile su un archivio suddiviso"

        DL_NothingToDel,   "Errore - nessun file selezionato per la cancellazione"

        EX_FatalUnZip,     "Errore fatale in DelZip179.DLL: eccezione abortiva"
        EX_UnAttPassword,  "Attenzione - Estrazione non eseguita: Š possibile che non tutti i file siano stati estratti"

        LD_DllLoaded,   "Caricamento della %s"
//        LZ_NoZipDllExec,   "Funzione ZipDllExec non trovata in ZIPDLL.DLL!"
//        LZ_NoZipDllVers,   "Funzione GetZipDllVersion non trovata in ZIPDLL.DLL!"
        LD_NoDll,       "%s non trovata!"
	LD_BadDll,	"Ha tentato di caricare vecchio %s da "

//        LU_UnzDllLoaded,   "Caricamento di UNZDLL!"
//        LU_NoUnzDllExec,   "Funzione UnzDllExec non trovata in UNZDLL.DLL!"
//        LU_NoUnzDllVers,   "Funzione GetUnzDllVersion non trovata in UNZDLL.DLL!"
//        LU_NoUnzDll,       "UNZDLL.DLL non trovata!"
//	LU_OldUnzDll,	"Ha tentato di caricare vecchio UnzDll da "

        SF_StringTooLong,   "Errore - La dimensione totale delle 3 proriet… di testo eccede 245!"
        SF_NoZipSFXBin,    "Errore - %s non trovato!"
        SF_InputIsNoZip,   "Errore: il file inserito non Š un file zip"
	SF_NoSFXSupport,	"SFX funziona non sostenuto"

        CZ_NoExeSpecified, "Errore - nessun file .EXE specificato"
        CZ_InputNotExe,    "Errore: il file inserito non Š un file .EXE"
        CZ_SFXTypeUnknown, "Errore determinando il tipo di archivio SFX"
CF_NoCopyOnSpan, "CopyZippedFiles non è effettuato per una lima misurata della chiusura lampo."
DL_NoDelOnSpan, "Le lime di cancellazione da un archivio non è effettuata per una lima misurata della chiusura lampo."
        DS_NoInFile,       "Il file inserito non esiste"
        DS_FileOpen,       "Il file Zip non pu• essere aperto"
        DS_NotaDrive,      "Drive non valido: %s"
        DS_DriveNoMount,   "Il drive NON Š definito: %s"
        DS_NoVolume,       "Impossibile assegnare il nome al volume"
        DS_NoMem,          "Memmoria insufficiente per visualizzare il MsgBox"
        DS_Canceled,       "L'utente ha interrotto l'operazione"
        DS_FailedSeek,     "Errore di ricerca nel file inserito"
        DS_NoOutFile,      "Creazione del file di emissione fallita"
        DS_NoWrite,        "Errore nella scrittura del file di emissione"
        DS_EOCBadRead,     "Errore leggendo End Of Central Directory"
        DS_LOHBadRead,     "Errore leggendo un'intestazione locale"
        DS_CEHBadRead,     "Errore leggendo un'intestazione centrale"
        DS_LOHWrongSig,    "La firma di intestazione locale Š sbagliata"
        DS_CEHWrongSig,    "La firma di intestazione centrale Š sbagliata"
        DS_LONameLen,      "Errore leggendo un nome di file locale"
        DS_CENameLen,      "Errore leggendo un nome di file centrale"
        DS_LOExtraLen,     "Errore leggendo un campo extra locale"
        DS_CEExtraLen,     "Errore leggendo un campo extra centrale"
        DS_DataDesc,       "Errore leggendo/scrivendo un'area di descrizione dei dati"
        DS_ZipData,        "Errore leggendo i dati compressi"
        DS_CECommentLen,   "Errore leggendo un file di commento"
        DS_EOArchComLen,   "Errore leggendo il commento dell'archivio"
        DS_ErrorUnknown,   "Errore sconusciuto nella funzione ReadSpan() o WriteSpan()"
        DS_NoUnattSpan,    "La funzione di suddivisione del file ZIP non Š implementata"
        DS_EntryLost,      "Un'intestazione locale non trovata nella struttura interna"
        DS_NoTempFile,     "Impossibile creare il file temporaneo"
        DS_LOHBadWrite,    "Errore scrivendo un'intestazione locale"
        DS_CEHBadWrite,    "Errore scrivendo un'intestazione centrale"
        DS_EOCBadWrite,    "Errore scrivendo End Of Central Directory"
        DS_ExtWrongSig,    "Errore scrivendo una firma locale estesa"
        DS_NoDiskSpace,    "Questo disco non ha abbastanza spazio libero"
        DS_InsertDisk,     "Cortesemente, inserisci l'ultimo disco"
        DS_InsertVolume,   "Cortesemente, inserisci il disco %.1d di %.1d"
        DS_InDrive,        "\nnel drive: %s"
        DS_NoValidZip,     "Questo archivio non Š un archivio Zip valido"
        DS_FirstInSet,     "Questo Š il primo disco nel set di backup,\ninserisci cortesemente l'ultimo disco di questo set"
        DS_NotLastInSet,   "Questo Š il %dø disco nel set di backup,\ninserisci cortesemente l'ultimo disco di questo set"
        DS_AskDeleteFile,  "C'Š gia un file %s\nVuoi sovvrascriverlo"
        DS_AskPrevFile,    "ATTENZIONE: Questo Š il disco precedente nø %d!!!\nSei sicuro di voler sovvrascriverne il contenuto"
        DS_NoSFXSpan,      "Errore - I file autoestraenti(.exe) non possono essere suddivisi"
        DS_CEHBadCopy,     "Errore copiando un nome di file della struttura CEH"
        DS_EOCBadSeek,     "Errore di ricerca saltando una struttura EOC"
        DS_EOCBadCopy,     "Errore copiando il commento di un archivio zip"
        DS_FirstFileOnHD,  "Questo Š il primo file nel set di backup,\nscegli cortesemente l'ultimo file di questo set"
	DS_NoDiskSpan,	"Attraversare di dischetto non ha sostenuto"
}
