//? US: default [1252]
#include "ZipMsg.h"
// edited R.Peters 2005-11-28

  STRINGTABLE LANGUAGE 9, 1 // 0409
  {
  DT_Language,        "US: default"
  DT_Author,		  "R.Peters"
  DT_Desc,			  "Language Neutral"
  GE_FatalZip,        "Fatal Error in DLL: abort exception"
  GE_NoZipSpecified,  "Error - no zip file specified!"
  GE_NoMem,           "Requested memory not available"
  GE_WrongPassword,   "Error - passwords do NOT match\nPassword ignored"
  GE_CopyFile,        "Copying: "
  GE_Except,          "Exception in Event handler "
  GE_Reentered,       "Was busy, Instructions may have been lost!"
  GE_Busy,            " Busy, Please wait"
  GE_Inactive,        "not Active"
  GE_RangeError,      "Index (%d) outside range 1..%d"
  GE_TempZip,         "Temporary zipfile: %s"
  GE_WasBusy,         "Busy + %s"
  GE_EventEx,         "Exception in Event "
  GE_DLLAbort,        "DLL Error - Aborting"
  GE_DLLBusy,         "DLL Error - Busy"
  GE_DLLCancel,       "DLL Error - User Cancelled"
  GE_DLLMem,          "DLL Error - Not enough memory"
  GE_DLLStruct,       "DLL Error - Invalid structure"
  GE_DLLEvent,        "DLL Error - Exception in handler "
  GE_DLLCritical,     "critical DLL Error %d"
  GE_Unknown,         " Unknown error %d"
  GE_Skipped,         "Skipped %s %d"

  RN_ZipSFXData,      "Error while copying the SFX header"
  RN_NoRenOnSpan,     "Rename is not implemented for a spanned zip file"
  RN_ProcessFile,     "Processing: "
  RN_RenameTo,        " renamed to: "
  RN_InvalidDateTime, "Invalid date/time argument for file: "

  PW_UnatAddPWMiss,   "Error - no add password given"
  PW_UnatExtPWMiss,   "Error - no extract password given"
  PW_Caption,         "Password"
  PW_MessageEnter,    "Enter Password "
  PW_MessageConfirm,  "Confirm Password "
  PW_ForFile,         " for file: "

  CF_SourceIsDest,    "Source archive is the same as the destination archive!"
  CF_OverwriteYN,     "Overwrite file '%s' in '%s' ?"
  CF_CopyFailed,      "Copying a file from '%s' to '%s' failed"
  CF_SourceNotFound,  "File '%s' is not present in '%s'!"
  CF_SFXCopyError,    "Error while copying the SFX data"
  CF_DestFileNoOpen,  "Destination zip archive could not be opened!"
  CF_NoCopyOnSpan,    "CopyZippedFiles is not implemented for a spanned zip file"

  LI_ReadZipError,    "Seek error reading Zip archive!"
  LI_ErrorUnknown,    "Unknown error in List() function\n"
  LI_WrongZipStruct,  "Warning - Error in zip structure!"
  LI_GarbageAtEOF,    "Warning - Garbage at the end of the zipfile!"
  LI_FileTooBig,      "File larger than 4GB"
  LI_MethodUnknown,   "Unknown Compression Method"

  ZB_Yes,             "&Yes"
  ZB_No,              "&No"
  ZB_OK,              "&OK"
  ZB_Cancel,          "&Cancel"
  ZB_Abort,           "&Abort"
  ZB_Retry,           "&Retry"
  ZB_Ignore,          "&Ignore"
  ZB_CancelAll,       "CancelAll"
  ZB_NoToAll,         "NoToAll"
  ZB_YesToAll,        "YesToAll"

  AD_NothingToZip,    "Error - no files to zip!"
  AD_UnattPassword,   "Unattended action not possible without a password"
  AD_NoFreshenUpdate, "AddFreshen or AddUpdate not possible on a spanned archive"
  AD_AutoSFXWrong,    "Error %.1d occurred during Auto SFX creation."
  AD_InIsOutStream,   "Input stream may not be set to the output stream"
  AD_InvalidName,     "Wildcards are not allowed in Filename or file specification"
  AD_NoDestDir,       "Destination directory '%s' must exist!"

  DL_NothingToDel,    "Error - no files selected for deletion"
  DL_NoDelOnSpan,     "Delete Files from archive is not implemented for a spanned zip file"

  EX_FatalUnZip,      "Fatal Error in UnzDLL.DLL: abort exception"
  EX_UnAttPassword,   "Warning - Unattended Extract: possible not all files extracted"
  EX_NoExtrDir,       "Extract directory '%s' must exist"

  LD_NoDll,           "Failed to load %s"
  LD_BadDll,          "Unable to load %s - It is old or corrupt"
  LD_DllLoaded,       "Loaded %s"
  LD_DllUnloaded,     "Unloaded %s"

SF_StringTooLong,  "Error - On or more of the 4 property strings mentioned below exceeds 255 characters!"
  SF_NoZipSFXBin,     "Error: SFX stub '%s' not found!"
  SF_InputIsNoZip,    "Error: input file is not a zip file"
  SF_NoSFXSupport,    "SFX Functions not supported"
  SF_MsgTooLong,      "SFX Message string exceeds 255 characters!"
  SF_DefPathTooLong,  "SFX Default path exceeds 255 characters!"
  SF_DlgTitleTooLong, "SFX Dialog title exceeds 255 characters!"
  SF_CmdLineTooLong,  "SFX Command line exceeds 255 characters!"
  SF_FBkPathTooLong,  "SFX Fallback path exceeds 255 characters!"

CZ_NoExeSpecified, "Error - no .EXE file specified"
  CZ_InputNotExe,     "Error: input file is not an .EXE file"
  CZ_SFXTypeUnknown,  "Error determining the type of SFX archive"
  CZ_WrongConvert,    "Can only convert ZIP to EXE or EXE to ZIP"
  CZ_UnknownHeader,   "Unknown SFX header format in %s"
  CZ_BrowseError,     "Error while browsing resources."
  CZ_NoExeResource,   "No resources found in executable."
  CZ_ExeSections,     "Error while reading executable sections."
  CZ_NoExeIcon,       "No icon resources found in executable."
  CZ_NoIcon,          "No icon found."
  CZ_NoCopyIcon,      "Cannot copy icon."
  CZ_NoIconFound,     "No matching icon found."

  DS_NoInFile,        "Input file does not exist"
  DS_FileOpen,        "Zip file could not be opened"
  DS_NotaDrive,       "Not a valid drive: %s"
  DS_DriveNoMount,    "Drive %s is NOT defined"
  DS_NoVolume,        "Volume label could not be set"
  DS_NoMem,           "Not enough memory to display MsgBox"
  DS_Canceled,        "User canceled operation"
  DS_FailedSeek,      "Seek error in input file"
  DS_NoOutFile,       "Creation of output file failed"
  DS_NoWrite,         "Write error in output file"
  DS_EOCBadRead,      "Error while reading the End Of Central Directory"
  DS_LOHBadRead,      "Error while reading a local header"
  DS_CEHBadRead,      "Error while reading a central header"
  DS_LOHWrongSig,     "A local header signature is wrong"
  DS_CEHWrongSig,     "A central header signature is wrong"
  DS_LONameLen,       "Error while reading a local file name"
  DS_CENameLen,       "Error while reading a central file name"
  DS_LOExtraLen,      "Error while reading a local extra field"
  DS_CEExtraLen,      "Error while reading a central extra field"
  DS_DataDesc,        "Error while reading/writing a data descriptor area"
  DS_ZipData,         "Error while reading zipped data"
  DS_CECommentLen,    "Error while reading a file comment"
  DS_EOArchComLen,    "Error while reading the archive comment"
  DS_ErrorUnknown,    "UnKnown error in function ReadSpan(), WriteSpan(), ChangeFileDetails() or CopyZippedFiles()\n"
  DS_NoUnattSpan,     "Unattended disk spanning not implemented"
  DS_EntryLost,       "A local header not found in internal structure"
  DS_NoTempFile,      "Temporary file could not be created"
  DS_LOHBadWrite,     "Error while writing a local header"
  DS_CEHBadWrite,     "Error while writing a central header"
  DS_EOCBadWrite,     "Error while writing the End Of Central Directory"
  DS_ExtWrongSig,     "Error while reading a Extended Local signature"
  DS_NoDiskSpace,     "This disk has not enough free space available"
  DS_InsertDisk,      "Please insert last disk"
  DS_InsertVolume,    "Please insert disk volume %.1d of %.1d"
  DS_InDrive,         "\nin drive: %s"
  DS_NoValidZip,      "This archive is not a valid Zip archive"
  DS_FirstInSet,      "This is the first disk in a backup set,\nplease insert the last disk of this set"
  DS_NotLastInSet,    "This is the %dth disk in a backup set,\nplease insert the last disk of this set"
  DS_AskDeleteFile,   "There is already a file %s\nDo you want to overwrite this file"
  DS_AskPrevFile,     "ATTENTION: This is previous disk no %d!!!\nAre you sure you want to overwrite the contents"
  DS_NoSFXSpan,       "Error - Self extracting archives(.exe) can not be spanned"
  DS_CEHBadCopy,      "Error while copying a filename of a CEH structure"
  DS_EOCBadSeek,      "Seek error while skipping a EOC structure"
  DS_EOCBadCopy,      "Error while copying the zip archive comment"
  DS_FirstFileOnHD,   "This is the first file in a backup set,\nplease choose the last file of this set"
  DS_InsertAVolume,   "Please insert disk volume %.1d"
  DS_CopyCentral,     "Central directory"
  DS_NoDiskSpan,      "DiskSpanning not supported"
  DS_UnknownError,    "Unknown Error"
  DS_NoRenamePart,    "Last part left as : %s"
  DS_NotChangeable,   "Cannot write to %s"

  FM_Erase,           "Erase %s"
  FM_Confirm,         "Confirm"

  ED_SizeTooLarge,    "Size of FileExtraData is larger than available array"

  CD_NoCDOnSpan,      "ChangeFileDetails is not implemented for a spanned zip file"
  CD_NoEventHndlr,    "No Event Handler found to Change File Details"
  CD_LOExtraLen,      "Error while writing a local extra field"
  CD_CEExtraLen,      "Error while writing a central extra field"
  CD_CEComLen,        "Error while writing a file comment"
  CD_CEHDataSize,     "The combined length of CEH + FileName + FileComment + ExtraData exceeds 65535"
  CD_Changing,        "Changing details of: "
  CD_DuplFileName,    "Duplicate Filename: %s"
  CD_NoProtected,     "Cannot change details of Excrypted file"
  CD_InvalidFileName, "Invalid Filename: '%s'"
  CD_NoChangeDir,     "Cannot change path"
  CD_FileSpecSkip,    "Filespec '%s' skipped"

  DU_InvalidName,     "Invalid name '%s'"
  DU_WrongMethod,     "unsupported compression for '%s'"

  PR_Archive,         "*Resetting Archive bit"
  PR_CopyZipFile,     "*Copying Zip File"
  PR_SFX,             "*SFX"
  PR_Header,          "*??"
  PR_Finish,          "*Finalising"
  PR_Copying,         "*Copying"
  PR_CentrlDir,       "*Central Directory"
  PR_Checking,        "*Checking"
  PR_Loading,         "*Loading Directory"
  PR_Joining,         "*Joining split zip file"
  PR_Splitting,       "*Splitting zip file"


  DZ_Skipped,         "Filespec '%s' skipped"
  DZ_InUse,           "Can not open in-use file '%s'"
  DZ_Refused,         "not permitted to open '%s'"
  DZ_NoOpen,          "Can not open '%s'"
  DZ_NoFiles,         "no files found"
  DZ_SizeChanged,     "size of '%s' changed"
  DZ_InvalidName,     "'%s' is not valid name"
  DZ_TooBig,          "file is too big"

  WZ_DropDirOnly,     "Dropping %d empty directory entries"
  WZ_NothingToWrite,  "Nothing to write"

  TM_Erasing,         "EraseFloppy - Removing %s"
  TM_Deleting,        "EraseFloppy - Deleting %s"
  TM_GetNewDisk,      "Trace : GetNewDisk Opening: %s"
  TM_SystemError,     "System error: %d"
  }
