#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x0B, 1 // 040B
{
  DT_Language,        "FI: Finnish"
GE_FatalZip, 		 "Peruuttamaton virhe moduulissa DelZip179.DLL: keskeyttävä poikkeus"
GE_NoZipSpecified, 	 "Virhe - Zip-tiedostoa ei määritelty!"
GE_NoMem,		 "Muistia ei voitu varata"
GE_WrongPassword,	 "Virhe - salasanat eivät täsmää\nSalasanaa ei huomioida"
GE_CopyFile,		 "Kopioin: "

RN_ZipSFXData,           "Virhe kopioitaessa SFX otsaketta"
RN_NoRenOnSpan,          "Jaetun paketin uudelleennimeämistä ei tueta"
RN_ProcessFile,          "Käsittelen: "
RN_RenameTo,		 " nimeksi muutettu: "

PW_UnatAddPWMiss,	 "Virhe - ei lisäys-salasanaa"
PW_UnatExtPWMiss,	 "Virhe - ei purku-salasanaa"
ZB_OK,			 "&Ok"
ZB_Cancel,		 "&Peruuta"
PW_Caption,		 "Salasana"
PW_MessageEnter,	 "Anna salasana "
PW_MessageConfirm, 	 "Anna salasana uudelleen "
ZB_CancelAll,		 "Peruuta kaikki"
ZB_Abort,			 "Keskeytä"
PW_ForFile,			 " tiedostolle: "

CF_SourceIsDest,	 "Lähde- ja kohdepaketit samat!"
CF_OverwriteYN,	 	 "Korvataanko tiedosto '%s' kohteessa '%s' ?"
CF_CopyFailed,		 "Tiedoston kopiointi kohteesta '%s' kohteeseen '%s' epäonnistui"
CF_SourceNotFound, 	 "Tiedostoa '%s' ei löydy kohteessa '%s'!"
CF_SFXCopyError,	 "Virhe kopioitaessa SFX tietoja"
CF_DestFileNoOpen, 	 "Kohde Zip-pakettia ei voitu avata!"

LI_ReadZipError,	 "Hakuvirhe luettaessa Zip-pakettia!"
LI_ErrorUnknown,	 "Tuntematon virhe funktiossa List()\n"
LI_WrongZipStruct, 	 "Varoitus - Virheellinen Zip-rakenne!"
LI_GarbageAtEOF,	 "Varoitus - Zip-paketin loppu on roskaa!"

AD_NothingToZip,	 "Virhe - ei pakattavia tiedostoja!"
AD_UnattPassword,	 "Toiminta ilman valvontaa vaatii salasanan"
AD_NoFreshenUpdate,	 "AddFreshen tai AddUpdate ei onnistu jaetulle paketille"
AD_AutoSFXWrong,	 "Tapahtui virhe %.1d Auto SFX:n luonnissa."
//AD_NoStreamDLL,	 	 "Virhe - ZipDLL.dll ei tue streameja, päivä versioon 1.60 tai uudempi"
AD_InIsOutStream,	 "Tulo ja lähtö eivät voi olla samat"
AD_InvalidName,		 "Jokerimerkkejä ei voi käyttää tiedoston nimessä"

DL_NothingToDel,	 "Virhe - ei poistettavia tiedostoja"

EX_FatalUnZip,		 "Peruuttamaton virhe moduulissa DelZip179.DLL: keskeyttävä poikkeus"
EX_UnAttPassword,	 "Varoitus - Kaikkia tiedostoja ei ehkä purettu"
//EX_NoStreamDLL,		 "Virhe - UnzDLL.dll ei tue streameja, päivä versioon 1.60 tai uudempi"

LD_DllLoaded,	 "%s ladattu"
//LZ_NoZipDllExec,	 "ZIPDLL.DLL: funktiota ZipDllExec ei löydy!"
//LZ_NoZipDllVers,	 "ZIPDLL.DLL: funktiota GetZipDllVersion ei löydy!"
LD_NoDll,		 "Tiedostoa %s ei löydy!"

//LU_UnzDllLoaded,	 "UNZDLL.DLL ladattu"
//LU_NoUnzDllExec,	 "UNZDLL.DLL: funktiota UnzDllExec ei löydy!"
//LU_NoUnzDllVers,	 "UNZDLL.DLL: funktiota GetUnzDllVersion ei löydy!"
//LU_NoUnzDll,		 "Tiedostoa UNZDLL.DLL ei löydy!"

SF_StringTooLong,	 "Virhe - Ainakin yksi neljästä ominaisuusmerkkijonosta on yli 255 merkkiä pitkä!"
SF_NoZipSFXBin,	 	 "Virhe - %s ei löydy!"
SF_InputIsNoZip,	 "Virhe: syötetiedosto ei ole zip"

CZ_NoExeSpecified,	 "Virhe - ei .EXE tiedostoa"
CZ_InputNotExe,		 "Virhe: syötetiedosto ei ole .EXE tiedosto"
CZ_SFXTypeUnknown,	 "Virhe määriteltäessä SFX-paketin tyyppiä"

DS_NoInFile,		 "Syötetiedostoa ei ole"
DS_FileOpen,		 "Zip-tiedostoa ei voitu avata"
DS_NotaDrive,		 "Virheellinen levyasema: %s"
DS_DriveNoMount,	 "Levyasemaa %s ei ole määritelty"
DS_NoVolume,		 "Levyn nimeä ei voitu muuttaa"
DS_NoMem,		 "Muisti ei riitä ilmoituksen (MsgBox) näyttämiseen"
DS_Canceled,		 "Käyttäjä peruutti toiminnon"
DS_FailedSeek,		 "Hakuvirhe syötetiedostossa"
DS_NoOutFile,		 "Kohdetiedostoa ei voitu luoda"
DS_NoWrite,		 "Virhe kirjoitettaessa kohdetiedostoa"
DS_EOCBadRead,		 "Virhe luettaessa Keskushakemiston loppu"
DS_LOHBadRead,		 "Virhe luettaessa paikallisotsaketta"
DS_CEHBadRead,		 "Virhe luettaessa keskusotsaketta"
DS_LOHWrongSig,		 "Paikallisotsakkeen signature virheellinen"
DS_CEHWrongSig,		 "Keskusotsakkeen signature virheellinen"
DS_LONameLen,		 "Virhe luettaessa paikallista tiedostonimeä"
DS_CENameLen,		 "Virhe luettaessa keskeistä tiedostonimeä"
DS_LOExtraLen,		 "Virhe luettaessa paikallista ylikenttää"
DS_CEExtraLen,		 "Virhe luettaessa keskeistä ylikenttää"
DS_DataDesc,		 "Virhe luettaessa/kirjoitettaessa tiedonkuvausta"
DS_ZipData,		 "Virhe luettaessa pakattua tietoa"
DS_CECommentLen,	 "Virhe luettaessa tiedoston kommentteja"
DS_EOArchComLen,	 "Virhe luettaessa paketin kommentteja"
DS_ErrorUnknown,	 "Tuntematon virhe funktiossa ReadSpan(), WriteSpan(), Rename() tai CopyZippedFiles()\n"
DS_NoUnattSpan,		 "Levykesarjaa ei voida luoda ilman valvontaa"
DS_EntryLost,		 "Paikallisotsaketta ei löydy sisäisestä rakenteesta"
DS_NoTempFile,		 "Väliaikaistiedostoa ei voitu luoda"
DS_LOHBadWrite,		 "Virhe kirjoitettaessa paikallisotsaketta"
DS_CEHBadWrite,		 "Virhe kirjoitettaessa keskusotsaketta"
DS_EOCBadWrite,		 "Virhe kirjoitettaessa Keskushakemiston loppua"
DS_ExtWrongSig,		 "Virhe luettaessa Extended Local signature"
DS_NoDiskSpace,		 "Tällä levyllä ei ole riittävästi vapaata tilaa"
DS_InsertDisk,		 "Anna viimeinen levyke"
DS_InsertVolume,	 "Anna levyke %.1d / %.1d"
DS_InDrive,			 "\nlevyasemaan: %s"
DS_NoValidZip,		 "Tämä ei ole Zip-tiedosto"
DS_FirstInSet,		 "Tämä on levykesarjan ensimmäinen levyke,\nanna sarjan viimeinen levyke"
DS_NotLastInSet,	 "Tämä on levykesarjan %d. levyke,\nanna sarjan viimeinen levyke"
DS_AskDeleteFile,	 "Tiedosto %s on jo olemassa\nKorvataanko tiedosto"
DS_AskPrevFile,		 "HUOMAUTUS: Tämä on sarjan levyke numero %d!!!\nTyhjennetäänkö levyke"
DS_NoSFXSpan,		 "Virhe - Itsepurkautuvia paketteja (.exe) ei voida jakaa"
DS_CEHBadCopy,		 "Virhe kopioitessa CEH rakenteen tiedostonimeä"
DS_EOCBadSeek,		 "Lukuvirhe ohitettaessa EOC rakennetta"
DS_EOCBadCopy,		 "Virhe kopioitaessa zip-paketin kommentteja"
DS_FirstFileOnHD,	 "Tämä on jaetun paketin ensimmäinen tiedosto,\nanna paketin viimeinen tiedosto"
DS_InsertAVolume,        "Anna levyke %.1d"
DS_CopyCentral,          "Keskushakemisto"
}
