#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x18,1 // 0418
{
  DT_Language,        "RO: Romanian"
        GE_FatalZip,             "Eroare Fatala in DelZip179.DLL: abort exception"
        GE_NoZipSpecified, "Eroare - nu este specificat nici un fisier zip!"
        GE_NoMem,                        "Memoria necesara nu este disponibila"
        GE_WrongPassword,        "Eroare - parola nu se potriveste\nParola este ignorata"
        GE_CopyFile,             "Copiere: "

RN_ZipSFXData,           "Eroare in timpul copierii headerului SFX"
RN_NoRenOnSpan,          "Redenimirea nu este implementata pentru un fisier zip multivolum"
RN_ProcessFile,          "Procesare: "
RN_RenameTo,                             " redenumit in: "

        PW_UnatAddPWMiss,        "Eroare - nu ati adaugat parola"
        PW_UnatExtPWMiss,        "Eroare - nu ati introdus parola de extragere"
ZB_OK,                           "&Ok"
ZB_Cancel,                       "&Abandon"
PW_Caption,                      "Parola"
PW_MessageEnter,         "Introduceti Parola "
PW_MessageConfirm, "Confirmati Parola "

CF_SourceIsDest,         "Arhiva sursa este identica cu arhiva destinatie!"
CF_OverwriteYN,  "Suprascrieti fisierul '%s' in '%s' ?"
CF_CopyFailed,           "Copierea fisierului din '%s' in '%s' esuata"
CF_SourceNotFound, "Fisierul '%s' nu este prezent in '%s'!"
CF_SFXCopyError,         "Eroare in timpul copierii datelor SFX"
CF_DestFileNoOpen, "Destinatia arhivei zip nu poate fi deschisa!"

        LI_ReadZipError,         "Eroare de localizare in timpul citirii arhivei Zip!"
LI_ErrorUnknown,         "Eroare necunoscuta in functia List() \n"
        LI_WrongZipStruct, "Atentie - Eroare de structura in zip!"
        LI_GarbageAtEOF,         "Atentie - Gunoi la sfarsit de fisier zip!"

        AD_NothingToZip,         "Eroare - nu sunt fisiere de zipuit!"
        AD_UnattPassword,        "Actiunea necesara nu este posibila fara o parola"
        AD_NoFreshenUpdate,"AddFreshen sau AddUpdate nu este posibila intr-o arhiva multivolum"
AD_AutoSFXWrong,         "Eroare %.1d aparuta in timpul crearii Auto SFX."
//AD_NoStreamDLL,  "Eroare - ZipDLL.dll dvs. nu poate folosi stream-uri, updatati la versiune >= 1.60"
AD_InIsOutStream,        "Stream-ul input nu va putea fi folosit la stream-ul output"
AD_InvalidName,  "Filtrele de fisiere nu sunt permise in Filename sau in specificatia fisierului"

        DL_NothingToDel,         "Eroare - nu sunt fisiere selectate pentru stergere"

        EX_FatalUnZip,           "Eroare fatala in DelZip179.DLL: Exceptie revocata"
        EX_UnAttPassword,        "Atentie - Extragere : nu toate fisierele pot fi extrase"
//EX_NoStreamDLL, "Eroare - ZipDLL.dll dvs. nu poate folosi stream-uri, updatati la versiune >= 1.60"

        LD_DllLoaded,         "%s incarcat"
//        LZ_NoZipDllExec,         "Functia ZipDllExec negasita in ZIPDLL.DLL!"
//        LZ_NoZipDllVers,         "Functia GetZipDllVersion negasita in ZIPDLL.DLL!"
        LD_NoDll,             "%s negasit!"

//        LU_UnzDllLoaded,         "UNZDLL incarcat!"
//        LU_NoUnzDllExec,         "Functia UnzDllExec negasita in UNZDLL.DLL!"
//        LU_NoUnzDllVers,         "Functia GetUnzDllVersion negasita in UNZDLL.DLL!"
//        LU_NoUnzDll,             "UNZDLL.DLL negasit!"

SF_StringTooLong,         "Eroare - Una sau mai multe din cele 4 proprietati sir de caractere mentionate aici depasesc 255 caractere!"
        SF_NoZipSFXBin,  "Eroare - %s negasit!"
        SF_InputIsNoZip,         "Eroare: fisierul specificat nu este de tip zip"

        CZ_NoExeSpecified, "Eroare - nu ati specificat fisierul .EXE"
        CZ_InputNotExe,  "Eroare: fisierul specificat nu este de tip .EXE"
        CZ_SFXTypeUnknown, "Eroare in determinarea tipului de arhiva SFX"

        DS_NoInFile,             "Fisierul specificat nu exista"
        DS_FileOpen,             "Fisierul Zip nu poate fi deschis"
        DS_NotaDrive,            "%s nu este un drive valid"
 DS_DriveNoMount,        "Drive-ul %s NU este definit"
        DS_NoVolume,             "Eticheta de Volum nu poate fi setata"
        DS_NoMem,                        "Memorie insuficienta pentru mesaje"
        DS_Canceled,             "Utilizatorul a abandonat operatiunea"
        DS_FailedSeek,           "Eroare de cautare in fisierul input"
        DS_NoOutFile,            "Crearea fisierului output esuata"
        DS_NoWrite,                      "Eroare de scriere in fisierul output"
        DS_EOCBadRead,           "Eroare in timpul citirii End Of Central Directory"
        DS_LOHBadRead,           "Eroare in timpul citirii header-ului local"
        DS_CEHBadRead,           "Eroare in timpul citirii unui header central"
        DS_LOHWrongSig,  "Semnatura unui header local este eronata"
        DS_CEHWrongSig,  "Semnatura unui header central este eronata"
        DS_LONameLen,            "Eroare in timpul citirii unui fisier local"
        DS_CENameLen,            "Eroare in timpul citirii unui fisier central"
        DS_LOExtraLen,           "Eroare in timpul citirii unui camp extra local"
        DS_CEExtraLen,           "Eroare in timpul citirii unui camp extra central"
        DS_DataDesc,             "Eroare in timpul citirii/scrierii datelor in aria descriptiva"
        DS_ZipData,                      "Eroare in timpul citirii datelor zipuite"
        DS_CECommentLen,         "Eroare in timpul citirii comentariului de fisier"
        DS_EOArchComLen,         "Eroare in timpul citirii comentariului de arhiva"
DS_ErrorUnknown,         "Eroare in functia ReadSpan(), WriteSpan(), Rename() sau CopyZippedFiles()\n"
        DS_NoUnattSpan,  "Crearea de arhiva multivolum nu este implementata"
        DS_EntryLost,            "Un header local nu a fost gasit in structura interna"
        DS_NoTempFile,           "Fisierul temporar nu poate fi creat"
        DS_LOHBadWrite,  "Eroare in timpul scrierii unui header local"
        DS_CEHBadWrite,  "Eroare in timpul scrierii unui header central"
        DS_EOCBadWrite,  "Eroare in timpul scrierii End Of Central Directory"
        DS_ExtWrongSig,  "Eroare in timpul citirii Extended Local signature"
        DS_NoDiskSpace,  "Acest disc nu are suficient spatiu disponibil"
        DS_InsertDisk,           "Introduceti ultimul disc"
        DS_InsertVolume,         "Introduceti discul volum %.1d din %.1d"
        DS_InDrive,                      "\nin drive-ul: %s"
        DS_NoValidZip,           "Aceasta archiva nu este o arhiva valida de tip Zip"
        DS_FirstInSet,           "Acesta este primul disc intr-un set backup,\nintroduceti ultimul disc din acest set"
        DS_NotLastInSet,         "Acesta este discul %d din setul backup,\nintroduceti ultimul disc din set"
        DS_AskDeleteFile,        "Exista un fisier cu numele %s\nDoriti sa il suprascrieti ?"
        DS_AskPrevFile,  "ATENTIE: Acesta este discul precedent numarul %d!!!\nSigur doriti sa suprascrieti continutul"
        DS_NoSFXSpan,            "Eroare - Arhivele (.exe) nu pot fi multivolum"
        DS_CEHBadCopy,           "Eroare in timpul copierii unui fisier in structura CEH"
        DS_EOCBadSeek,           "Eroare de localizare in structura EOC"
        DS_EOCBadCopy,           "Eroare in timpul copierii comentariului arhivei zip"
        DS_FirstFileOnHD,        "Acesta este primul fisier din setul backup,\nAlegeti ultimul fisier din set"
DS_InsertAVolume,        "Introduceti discul volum %.1d"
DS_CopyCentral,          "Directorul central"
}
