#include "ZipMsg.h"
// edited R.Peters 2005-11-27

STRINGTABLE
LANGUAGE 0x12, 1 // 0412
{
  DT_Language,        "KO: Korean"
	GE_FatalZip, 		"DelZip179.DLL에서 심각한 에러가 발생: 중지예외"
	GE_NoZipSpecified, 	"에러 - 압축파일(ZIP)파일이 지정되지 않았습니다."
	GE_NoMem,		"요청된 메모리가 유효하지 않습니다."
	GE_WrongPassword,	"에러 - 암호가 일치하지 않습니다.\n암호가 무시되었습니다."
	GE_CopyFile,		"복사중: "

	RN_ZipSFXData,           "SFX 머릿부분을 복사중 에러가 발생하였습니다."
	RN_NoRenOnSpan,          "Rename is not implemented for a spanned zip file"
	RN_ProcessFile,          "처리중: "
	RN_RenameTo,		" 변경된 이름: "

	PW_UnatAddPWMiss,	 "에러 - 추가(ADD) 암호가 주어지지 않았습니다."
	PW_UnatExtPWMiss,	 "에러 - 풀기(Extract) 암호가 주어지지 않았습니다."
	ZB_OK,			"확인(&O)"
	ZB_Cancel,		"취소(&C)"
	PW_Caption,		"암호"
	PW_MessageEnter,	"암호 입력 "
	PW_MessageConfirm, 	"암호 확인 "
	ZB_CancelAll,		"모두 취소"
	ZB_Abort,		"중지"
	PW_ForFile,		" for file: "

	CF_SourceIsDest,	"원본과 대상 압축데이터가 동일합니다!"
	CF_OverwriteYN,	 	"'%s'파일을 덮어쓸까요? [in '%s']"
	CF_CopyFailed,		"'%s'에서 '%s'(으)로 복사하는데 실패하였습니다."
	CF_SourceNotFound, 	"파일 '%s'을 찾을 수 없습니다! [in '%s']"
	CF_SFXCopyError,	"SFX 데이터를 복사하는 동안 에러가 발생하였습니다."
	CF_DestFileNoOpen, 	"대상 압축파일(ZIP)를 열 수 없습니다!"
	CF_NoCopyOnSpan, 	"CopyZippedFiles is not implemented for a spanned zip file"

	LI_ReadZipError,	 "압축파일(ZIP)을 읽는 동안 위치탐색 에러가 발생하였습니다!"
	LI_ErrorUnknown,	 "List() 함수에서 알려지지 않은 에러가 발생하였습니다.\n"
	LI_WrongZipStruct, 	 "경고 - 잘못된 압축 구조!"
	LI_GarbageAtEOF,	 "경고 - 압축파일의 마지막부분에 불필요한 데이터 있음!"

	AD_NothingToZip,	 "에러 - 압축할 파일이 없습니다!"
	AD_UnattPassword,	 "Unattended action not possible without a password"
	AD_NoFreshenUpdate,	"AddFreshen or AddUpdate not possible on a spanned archive"
	AD_AutoSFXWrong,	 "자동으로 SFX를 생성하는 동안 에러 %.1d이 발생하였습니다."
//	AD_NoStreamDLL,	 	"에러 - 사용중인 ZipDLL.dll 버전은 스트림을 사용할 수 없습니다. 1.60버전 이상으로 업데이트 하세요!"
	AD_InIsOutStream,	 "입력 스트림은 출력스트림에 설정되지 못할 수도 있습니다."
	AD_InvalidName,	 	"파일이름 또는 파일지정에 대표문자(Wildcard)를 사용하실 수 없습니다."

	DL_NothingToDel,	 "에러 - 삭제하기위해 선택된 파일이 없습니다."
	DL_NoDelOnSpan,		"Delete files from archive not implemented for a spanned zip file"

	EX_FatalUnZip,		 "DelZip179.DLL에서 심각한 오류 발생: 중단예외"
	EX_UnAttPassword,	 "경고 - 풀기 누락 : 모든 파일이 풀리지 않을 수 있습니다."
//	EX_NoStreamDLL,		"에러 - 사용중인 UnzDLL.dll 버전은 스트림을 사용하지 못할 수 있습니다. 1.60버전 이상으로 업데이트 하세요!"

	LD_DllLoaded,	 "%s 이 적재되었습니다."
//	LZ_NoZipDllExec,	 "ZIPDLL.DLL에서 ZipDllExec함수를 찾을 수 없습니다!"
//	LZ_NoZipDllVers,	 "ZIPDLL.DLL에서 GetZipDllVersion함수를 찾을 수 없습니다!"
	LD_NoDll,		 "%s을 찾을 수 없습니다!"
	LD_BadDll,		"다음에서 이전 버전의 %s을 적재하려고 시도 하였습니다. - "

//	LU_UnzDllLoaded,	 "UNZDLL이 적재되었습니다."
//	LU_NoUnzDllExec,	 "UNZDLL.DLL에서 UnzDllExec함수를 찾을 수 없습니다!"
//	LU_NoUnzDllVers,	 "UNZDLL.DLL에서 GetUnzDllVersion함수를 찾을 수 없습니다!"
//	LU_NoUnzDll,		 "UNZDLL.DLL을 찾을 수 없습니다!"
//	LU_OldUnzDll,		"다음에서 이전 버전의 UnzDll을 적재하려고 시도 하였습니다. - "

	SF_StringTooLong,	 "에러 - 문자열이 255글자를 초과하였습니다."
	SF_NoZipSFXBin,	 	"에러 - %s을 찾을 수 없습니다."
	SF_InputIsNoZip,	 "에러 : 입력파일이 압축파일(ZIP)이 아닙니다."
	SF_NoSFXSupport,	"SFX함수가 지원되지 않습니다."

	CZ_NoExeSpecified, 	"에러 - 실행파일(.EXE)이 지정되지 않았습니다."
	CZ_InputNotExe,	 	"에러 : 입력파일이 실행파일(.EXE)이 아닙니다."
	CZ_SFXTypeUnknown, 	"SFX 파일 형식을 알 수 없습니다."

	DS_NoInFile,		 "입력파일이 존재하지 않습니다."
	DS_FileOpen,		 "압축파일(ZIP)을 열 수 없습니다."
	DS_NotaDrive,		 "유효한 드라이브가 아닙니다 : %s"
 	DS_DriveNoMount,	 "드라이브 %s가 선언되지 않았습니다."
	DS_NoVolume,		 "볼륨레벨을 설정할 수 없습니다."
	DS_NoMem,		"메시지윈도우(MsgBox)를 표시하기에 메모리가 충분하지 않습니다."
	DS_Canceled,		 "사용자 작동 취소"
	DS_FailedSeek,		 "입력파일에서 위치 탐색 오류"
	DS_NoOutFile,		 "대상파일 생성 실패"
	DS_NoWrite,		"대상파일 쓰기 오류"
	DS_EOCBadRead,		 "Central Directory의 끝부분을 읽는 동안 오류발생."
	DS_LOHBadRead,		 "Local Header를 읽는 동안 오류발생"
	DS_CEHBadRead,		 "Central Header를 읽는 동안 오류발생"
	DS_LOHWrongSig,	 	"Local Header Signature가 잘못되었습니다."
	DS_CEHWrongSig,	 	"Central Header Signature가 잘못되었습니다."
	DS_LONameLen,		 "Local 파일이름을 읽는 동안 오류발생"
	DS_CENameLen,		 "Central 파일이름을 읽는 동안 오류발생"
	DS_LOExtraLen,		 "Local Extra Field를 읽는 동안 오류발생"
	DS_CEExtraLen,		 "Central Extra Field를 읽는 동안 오류발생"
	DS_DataDesc,		 "자료설명영역을 읽는(쓰는) 동안 오류발생"
	DS_ZipData,		"압축된 데이터를 읽는 동안 오류발생"
	DS_CECommentLen,	 "파일주석을 읽는 동안 오류발생"
	DS_EOArchComLen,	 "저장소주석을 읽는 동안 오류발생"
	DS_ErrorUnknown,	 "ReadSpan(), WriteSpan(), Rename() 또는 CopyZippedFiles() 함수에서 알 수 없는 에러 발생\n"
	DS_NoUnattSpan,	 	"Unattended disk spanning not implemented"
	DS_EntryLost,		 "내부구조에서 Local Header를 찾을 수 없습니다."
	DS_NoTempFile,		 "임시 파일을 생성할 수 없습니다."
	DS_LOHBadWrite,	 	"Local Header를 쓰는 동안 에러발생"
	DS_CEHBadWrite,	 	"Central Header를 쓰는 동안 에러발생"
	DS_EOCBadWrite,	 	"Central Directory의 마지막 부분을 쓰는 동안 오류발생"
	DS_ExtWrongSig,	 	"Extended Local Signature를 읽는 동안 오류발생"
	DS_NoDiskSpace,	 	"이 디스크는 가용메모리가 충분하지 않습니다."
	DS_InsertDisk,		 "마지막 디스크를 넣으세요."
	DS_InsertVolume,	 "볼륨이 %.1d / %.1d 인 디스크를 넣으세요."
	DS_InDrive,			 "\nin drive: %s"
	DS_NoValidZip,		 "유효하지 않은 ZIP파일입니다."
	DS_FirstInSet,		 "Backup Set의 첫 디스크입니다.\n마지막 디스크를 넣어 주십시오."
	DS_NotLastInSet,	 "Backup Set의 %d번째 대스크 입니다.\n마지막 디스크를 넣어 주십시오."
	DS_AskDeleteFile,	 "이미 %s 파일이 있습니다.\n이 파일을 덮어 쓰시겠습니까?"
	DS_AskPrevFile,	 	"주의 : 이것은 %d 번 이전 디스크입니다.\n내용을 덮어 쓰시겠습니까?"
	DS_NoSFXSpan,		 "에러 - Self extracting archives(.exe) can not be spanned"
	DS_CEHBadCopy,		 "CEH구조의 파일이름을 복사하는 동안 에러발생"
	DS_EOCBadSeek,		 "EOC구조를 건너뛰는 동안 위치탐색 에러발생"
	DS_EOCBadCopy,		 "압축저장소 주석을 복사하는 동안 에러발생"
	DS_FirstFileOnHD,	 "Backup Set의 첫번재 파일입니다.\n마지막 파일을 선택하여 주십시오."
	DS_InsertAVolume,        "볼륨이 %.1d인 디스크를 넣으세요."
	DS_CopyCentral,          "Central directory"
	DS_NoDiskSpan,		"Disk Spanning not supported"
}
