systems_txt  TEXT ".\systems.dat"
language_txt TEXT ".\language.txt"
type_txt     TEXT ".\type.txt"
rom_icon     RT_ICON ".\rom.ico"
goodcodes_txt	TEXT ".\GoodCodes.dat"
SysFileExt_txt  TEXT ".\SystemFileExts.ini" 
Tools_txt  TEXT ".\Tools.ini" 
Emulators_txt  TEXT ".\Emulators.ini"
